Repository airbnb/visx, pull requests merged in 2020-05, with the labels that each got.

#667 fix(vx-brush): Fix initialBrushPosition
  packages/vx-brush/src/BaseBrush.tsx
  packages/vx-brush/src/Brush.tsx
  packages/vx-brush/src/types.ts
  packages/vx-demo/src/components/Gallery.tsx
  packages/vx-demo/src/components/tiles/Brush.tsx
  packages/vx-tooltip/test/Tooltip.test.tsx
Labels: 🏠internal, 🐛bug

#668 perf(vx-tooltip): use useCallback in useTooltip
  packages/vx-tooltip/src/hooks/useTooltip.ts
Labels: hooks, 🚀enhancement

#669 new(vx-demo): convert Chord to codesandbox example
  packages/vx-demo/src/components/Gallery.tsx
  packages/vx-demo/src/docs-v2/examples/vx-chord/Example.tsx
  packages/vx-demo/src/docs-v2/examples/vx-chord/index.tsx
  packages/vx-demo/src/docs-v2/examples/vx-chord/package.json
  packages/vx-demo/src/docs-v2/examples/vx-chord/sandbox-styles.css
  packages/vx-demo/src/pages/Chord.tsx
Labels: 🏠internal, 📝docs

#670 new(vx-demo): convert Legends to codesandbox example
  packages/vx-demo/src/components/Gallery.tsx
  packages/vx-demo/src/components/tiles/Legends.tsx
  packages/vx-demo/src/docs-v2/examples/vx-legend/Example.tsx
  packages/vx-demo/src/docs-v2/examples/vx-legend/index.tsx
  packages/vx-demo/src/docs-v2/examples/vx-legend/package.json
  packages/vx-demo/src/docs-v2/examples/vx-legend/sandbox-styles.css
  packages/vx-demo/src/pages/Legends.tsx
Labels: 🏠internal, 📝docs

#673 new(vx-demo): convert Pack demo to codesandbox
  packages/vx-demo/src/components/Gallery.tsx
  packages/vx-demo/src/docs-v2/examples/vx-pack/Example.tsx
  packages/vx-demo/src/docs-v2/examples/vx-pack/index.tsx
  packages/vx-demo/src/docs-v2/examples/vx-pack/package.json
  packages/vx-demo/src/docs-v2/examples/vx-pack/sandbox-styles.css
  packages/vx-demo/src/pages/Pack.tsx
Labels: 🏠internal, 📝docs

#677 new(vx-demo): convert Radar to codesandbox
  packages/vx-demo/src/components/Gallery.tsx
  packages/vx-demo/src/docs-v2/examples/vx-radar/Example.tsx
  packages/vx-demo/src/docs-v2/examples/vx-radar/index.tsx
  packages/vx-demo/src/docs-v2/examples/vx-radar/package.json
  packages/vx-demo/src/docs-v2/examples/vx-radar/sandbox-styles.css
  packages/vx-demo/src/pages/Radar.tsx
Labels: 🏠internal, 📝docs

#672 new(vx-demo): convert ZoomI to codesandbox
  packages/vx-demo/src/components/Gallery.tsx
  packages/vx-demo/src/docs-v2/examples/vx-zoom-i/Example.tsx
  packages/vx-demo/src/docs-v2/examples/vx-zoom-i/index.tsx
  packages/vx-demo/src/docs-v2/examples/vx-zoom-i/package.json
  packages/vx-demo/src/docs-v2/examples/vx-zoom-i/sandbox-styles.css
  packages/vx-demo/src/pages/Zoom-i.tsx
Labels: 🏠internal, 📝docs

#671 new(vx-demo): convert Voronoi to codesandbox
  packages/vx-demo/src/components/Gallery.tsx
  packages/vx-demo/src/docs-v2/examples/vx-voronoi/Example.tsx
  packages/vx-demo/src/docs-v2/examples/vx-voronoi/index.tsx
  packages/vx-demo/src/docs-v2/examples/vx-voronoi/package.json
  packages/vx-demo/src/docs-v2/examples/vx-voronoi/sandbox-styles.css
  packages/vx-demo/src/pages/Voronoi.tsx
Labels: 🏠internal, 📝docs

#674 new(vx-demo): convert Statsplot to codesandbox
  packages/vx-demo/src/components/Gallery.tsx
  packages/vx-demo/src/docs-v2/examples/vx-stats/Example.tsx
  packages/vx-demo/src/docs-v2/examples/vx-stats/index.tsx
  packages/vx-demo/src/docs-v2/examples/vx-stats/package.json
  packages/vx-demo/src/docs-v2/examples/vx-stats/sandbox-styles.css
  packages/vx-demo/src/pages/Statsplot.tsx
Labels: 🏠internal, 📝docs

#682 new(vx-demo): convert Treemap to codesandbox
  packages/vx-demo/src/components/Gallery.tsx
  packages/vx-demo/src/docs-v2/examples/vx-treemap/Example.tsx
  packages/vx-demo/src/docs-v2/examples/vx-treemap/index.tsx
  packages/vx-demo/src/docs-v2/examples/vx-treemap/package.json
  packages/vx-demo/src/docs-v2/examples/vx-treemap/sandbox-styles.css
  packages/vx-demo/src/pages/Treemap.tsx
Labels: 🏠internal, 📝docs

#684 new(vx-demo): convert Bars to codesandbox
  packages/vx-demo/src/components/Gallery.tsx
  packages/vx-demo/src/docs-v2/examples/vx-bars/Example.tsx
  packages/vx-demo/src/docs-v2/examples/vx-bars/index.tsx
  packages/vx-demo/src/docs-v2/examples/vx-bars/package.json
  packages/vx-demo/src/docs-v2/examples/vx-bars/sandbox-styles.css
  packages/vx-demo/src/pages/Bars.tsx
Labels: 🏠internal, 📝docs

#683 new(vx-demo): convert Threshold to codesandbox
  packages/vx-demo/src/components/Gallery.tsx
  packages/vx-demo/src/components/Show.tsx
  packages/vx-demo/src/docs-v2/examples/vx-threshold/Example.tsx
  packages/vx-demo/src/docs-v2/examples/vx-threshold/index.tsx
  packages/vx-demo/src/docs-v2/examples/vx-threshold/package.json
  packages/vx-demo/src/docs-v2/examples/vx-threshold/sandbox-styles.css
  packages/vx-demo/src/pages/Threshold.tsx
Labels: 🏠internal, 📝docs

#685 new(vx-demo): convert BarStack, HorizontalBarStack to codesandbox
  packages/vx-demo/src/components/Gallery.tsx
  packages/vx-demo/src/docs-v2/examples/vx-barstack-horizontal/Example.tsx
  packages/vx-demo/src/docs-v2/examples/vx-barstack-horizontal/index.tsx
  packages/vx-demo/src/docs-v2/examples/vx-barstack-horizontal/package.json
  packages/vx-demo/src/docs-v2/examples/vx-barstack-horizontal/sandbox-styles.css
  packages/vx-demo/src/docs-v2/examples/vx-barstack/Example.tsx
  packages/vx-demo/src/docs-v2/examples/vx-barstack/index.tsx
  packages/vx-demo/src/docs-v2/examples/vx-barstack/package.json
  packages/vx-demo/src/docs-v2/examples/vx-barstack/sandbox-styles.css
  packages/vx-demo/src/pages/BarStack.tsx
  packages/vx-demo/src/pages/BarStackHorizontal.tsx
  packages/vx-tooltip/Readme.md
Labels: 🏠internal, 📝docs

#695 internal: commit yarn.lock file
  .gitignore
  .travis.yml
  yarn.lock
Labels: ✨development, 🏠internal

#676 new(vx-demo): convert Heatmap to codesandbox
  packages/vx-demo/src/components/Gallery.tsx
  packages/vx-demo/src/docs-v2/examples/vx-heatmap/Example.tsx
  packages/vx-demo/src/docs-v2/examples/vx-heatmap/index.tsx
  packages/vx-demo/src/docs-v2/examples/vx-heatmap/package.json
  packages/vx-demo/src/docs-v2/examples/vx-heatmap/sandbox-styles.css
  packages/vx-demo/src/pages/Heatmaps.tsx
Labels: 🏠internal, 📝docs

#693 new(vx-demo): convert Areas, StackedAreas to codesandbox
  packages/vx-demo/src/components/Gallery.tsx
  packages/vx-demo/src/docs-v2/examples/vx-area/Example.tsx
  packages/vx-demo/src/docs-v2/examples/vx-area/index.tsx
  packages/vx-demo/src/docs-v2/examples/vx-area/package.json
  packages/vx-demo/src/docs-v2/examples/vx-area/sandbox-styles.css
  packages/vx-demo/src/docs-v2/examples/vx-stacked-areas/Example.tsx
  packages/vx-demo/src/docs-v2/examples/vx-stacked-areas/index.tsx
  packages/vx-demo/src/docs-v2/examples/vx-stacked-areas/package.json
  packages/vx-demo/src/docs-v2/examples/vx-stacked-areas/sandbox-styles.css
  packages/vx-demo/src/pages/Areas.tsx
  packages/vx-demo/src/pages/Stacked-Areas.tsx
Labels: 🏠internal, 📝docs

#686 new(vx-demo): convert BarGroup, BarGroupHorizontal to codesandbox
  packages/vx-demo/src/components/Gallery.tsx
  packages/vx-demo/src/docs-v2/examples/vx-bargroup-horizontal/Example.tsx
  packages/vx-demo/src/docs-v2/examples/vx-bargroup-horizontal/index.tsx
  packages/vx-demo/src/docs-v2/examples/vx-bargroup-horizontal/package.json
  packages/vx-demo/src/docs-v2/examples/vx-bargroup-horizontal/sandbox-styles.css
  packages/vx-demo/src/docs-v2/examples/vx-bargroup/Example.tsx
  packages/vx-demo/src/docs-v2/examples/vx-bargroup/index.tsx
  packages/vx-demo/src/docs-v2/examples/vx-bargroup/package.json
  packages/vx-demo/src/docs-v2/examples/vx-bargroup/sandbox-styles.css
  packages/vx-demo/src/pages/BarGroup.tsx
  packages/vx-demo/src/pages/BarGroupHorizontal.tsx
Labels: 🏠internal, 📝docs

#690 new(vx-demo): convert Dendrogram to codesandbox
  packages/vx-demo/src/components/Gallery.tsx
  packages/vx-demo/src/docs-v2/examples/vx-dendrogram/Example.tsx
  packages/vx-demo/src/docs-v2/examples/vx-dendrogram/index.tsx
  packages/vx-demo/src/docs-v2/examples/vx-dendrogram/package.json
  packages/vx-demo/src/docs-v2/examples/vx-dendrogram/sandbox-styles.css
  packages/vx-demo/src/pages/Dendrograms.tsx
Labels: 🏠internal, 📝docs

#692 new(vx-demo): convert Dots to codesandbox
  packages/vx-demo/src/components/Gallery.tsx
  packages/vx-demo/src/components/tiles/Dots.tsx
  packages/vx-demo/src/docs-v2/examples/vx-dots/Example.tsx
  packages/vx-demo/src/docs-v2/examples/vx-dots/index.tsx
  packages/vx-demo/src/docs-v2/examples/vx-dots/package.json
  packages/vx-demo/src/docs-v2/examples/vx-dots/sandbox-styles.css
  packages/vx-demo/src/pages/Dots.tsx
Labels: 🏠internal, 📝docs

#688 new(vx-demo): convert Network to codesandbox
  packages/vx-demo/src/components/Gallery.tsx
  packages/vx-demo/src/docs-v2/examples/vx-network/Example.tsx
  packages/vx-demo/src/docs-v2/examples/vx-network/index.tsx
  packages/vx-demo/src/docs-v2/examples/vx-network/package.json
  packages/vx-demo/src/docs-v2/examples/vx-network/sandbox-styles.css
  packages/vx-demo/src/pages/Network.tsx
Labels: 🏠internal, 📝docs

#687 new(vx-demo): convert Polygons to codesandbox
  packages/vx-demo/src/components/Gallery.tsx
  packages/vx-demo/src/docs-v2/examples/vx-polygons/Example.tsx
  packages/vx-demo/src/docs-v2/examples/vx-polygons/index.tsx
  packages/vx-demo/src/docs-v2/examples/vx-polygons/package.json
  packages/vx-demo/src/docs-v2/examples/vx-polygons/sandbox-styles.css
  packages/vx-demo/src/pages/Polygons.tsx
Labels: 🏠internal, 📝docs

#689 new(vx-demo): convert Trees to codesandbox
  packages/vx-demo/src/components/Gallery.tsx
  packages/vx-demo/src/docs-v2/examples/vx-tree/Example.tsx
  packages/vx-demo/src/docs-v2/examples/vx-tree/index.tsx
  packages/vx-demo/src/docs-v2/examples/vx-tree/package.json
  packages/vx-demo/src/docs-v2/examples/vx-tree/sandbox-styles.css
  packages/vx-demo/src/pages/Trees.tsx
Labels: 🏠internal, 📝docs

#678 new(vx-demo): convert Brush to codesandbox
  packages/vx-demo/src/components/Gallery.tsx
  packages/vx-demo/src/components/tiles/Brush.tsx
  packages/vx-demo/src/docs-v2/examples/vx-brush/AreaChart.tsx
  packages/vx-demo/src/docs-v2/examples/vx-brush/Example.tsx
  packages/vx-demo/src/docs-v2/examples/vx-brush/index.tsx
  packages/vx-demo/src/docs-v2/examples/vx-brush/package.json
  packages/vx-demo/src/docs-v2/examples/vx-brush/sandbox-styles.css
  packages/vx-demo/src/pages/Brush.tsx
Labels: 🏠internal, 📝docs

#696 docs(vx-annotation): update to docgen
  packages/vx-annotation/Readme.md
  packages/vx-annotation/docs/api.md
  packages/vx-annotation/docs/description.md
  packages/vx-annotation/docs/docs.md
  packages/vx-annotation/docs/install.md
  packages/vx-annotation/package.json
  packages/vx-demo/src/pages/docs/Annotation.tsx
  packages/vx-demo/src/static/docs/vx-annotation.html
Labels: 📝docs

#697 docs(vx-bounds): update to docgen
  packages/vx-demo/src/pages/docs/Bounds.tsx
  packages/vx-demo/src/static/docs/vx-bounds.html
Labels: 📝docs

#698 docs(vx-brush): update to docgen
  packages/vx-brush/package.json
  packages/vx-brush/src/Brush.tsx
  packages/vx-demo/src/pages/docs/Brush.tsx
  packages/vx-demo/src/static/docs/vx-brush.html
Labels: 📝docs

#699 docs(vx-chord): update to docgen
  packages/vx-chord/Readme.md
  packages/vx-chord/docs/api.md
  packages/vx-chord/docs/description.md
  packages/vx-chord/docs/docs.md
  packages/vx-chord/docs/install.md
  packages/vx-chord/package.json
  packages/vx-chord/src/Chord.tsx
  packages/vx-chord/src/Ribbon.tsx
  packages/vx-demo/src/components/PackageList.tsx
  packages/vx-demo/src/pages/docs/Chord.tsx
  packages/vx-demo/src/static/docs/vx-chord.html
Labels: 📝docs

#700 docs(vx-clip-path): update to docgen
  packages/vx-clip-path/Readme.md
  packages/vx-clip-path/docs/api.md
  packages/vx-clip-path/docs/description.md
  packages/vx-clip-path/docs/docs.md
  packages/vx-clip-path/docs/install.md
  packages/vx-clip-path/package.json
  packages/vx-clip-path/src/clip-paths/CircleClipPath.tsx
  packages/vx-clip-path/src/clip-paths/ClipPath.tsx
  packages/vx-demo/src/components/PackageList.tsx
  packages/vx-demo/src/pages/docs/Clip-Path.tsx
  packages/vx-demo/src/static/docs/vx-clip-path.html
Labels: 📝docs

#701 docs(vx-curve): update to docgen
  packages/vx-demo/src/components/PackageList.tsx
  packages/vx-demo/src/pages/docs/Curve.tsx
  packages/vx-demo/src/static/docs/vx-curve.html
Labels: 📝docs

#702 docs(vx-drag): update to docgen
  packages/vx-demo/src/components/PackageList.tsx
  packages/vx-demo/src/pages/docs/Drag.tsx
  packages/vx-demo/src/static/docs/vx-drag.html
  packages/vx-drag/Readme.md
  packages/vx-drag/docs/api.md
  packages/vx-drag/docs/description.md
  packages/vx-drag/docs/docs.md
  packages/vx-drag/docs/install.md
  packages/vx-drag/package.json
  packages/vx-drag/src/Drag.tsx
Labels: 📝docs

#703 docs(vx-event): convert to docgen
  packages/vx-demo/src/pages/docs/Event.tsx
  packages/vx-demo/src/static/docs/vx-event.html
  packages/vx-event/Readme.md
Labels: 📝docs

#704 docs(vx-geo): convert to docgen
  packages/vx-demo/src/components/PackageList.tsx
  packages/vx-demo/src/pages/docs/Geo.tsx
  packages/vx-demo/src/static/docs/vx-geo.html
  packages/vx-geo/Readme.md
  packages/vx-geo/docs/api.md
  packages/vx-geo/docs/description.md
  packages/vx-geo/docs/docs.md
  packages/vx-geo/docs/install.md
  packages/vx-geo/package.json
  packages/vx-geo/src/projections/Albers.tsx
  packages/vx-geo/src/projections/AlbersUsa.tsx
  packages/vx-geo/src/projections/EqualEarth.tsx
  packages/vx-geo/src/projections/Mercator.tsx
  packages/vx-geo/src/projections/NaturalEarth.tsx
  packages/vx-geo/src/projections/Orthographic.tsx
  packages/vx-geo/src/projections/Projection.tsx
Labels: 📝docs

#705 docs(vx-glyph): update to codegen
  packages/vx-demo/src/components/PackageList.tsx
  packages/vx-demo/src/pages/docs/Glyph.tsx
  packages/vx-demo/src/static/docs/vx-glyph.html
  packages/vx-glyph/Readme.md
  packages/vx-glyph/docs/api.md
  packages/vx-glyph/docs/description.md
  packages/vx-glyph/docs/docs.md
  packages/vx-glyph/docs/install.md
  packages/vx-glyph/package.json
Labels: 📝docs

#706 docs(vx-gradient): update to docgen
  packages/vx-demo/src/components/PackageList.tsx
  packages/vx-demo/src/pages/docs/Gradient.tsx
  packages/vx-demo/src/static/docs/vx-gradient.html
  packages/vx-gradient/Readme.md
  packages/vx-gradient/docs/api.md
  packages/vx-gradient/docs/description.md
  packages/vx-gradient/docs/docs.md
  packages/vx-gradient/docs/install.md
  packages/vx-gradient/package.json
  packages/vx-gradient/src/gradients/GradientDarkgreenGreen.tsx
Labels: 📝docs

#707 docs(vx-grid): update to docgen
  packages/vx-demo/src/components/PackageList.tsx
  packages/vx-demo/src/pages/docs/Grid.tsx
  packages/vx-demo/src/static/docs/vx-grid.html
  packages/vx-grid/Readme.md
  packages/vx-grid/docs/api.md
  packages/vx-grid/docs/description.md
  packages/vx-grid/docs/docs.md
  packages/vx-grid/docs/install.md
  packages/vx-grid/package.json
  packages/vx-grid/src/grids/Grid.tsx
  packages/vx-grid/src/grids/GridColumns.tsx
  packages/vx-grid/src/grids/GridRows.tsx
Labels: 📝docs

#708 docs(vx-group, vx-point): update to docgen
  packages/vx-demo/src/components/PackageList.tsx
  packages/vx-demo/src/pages/docs/Group.tsx
  packages/vx-demo/src/pages/docs/Point.tsx
  packages/vx-demo/src/static/docs/vx-group.html
  packages/vx-demo/src/static/docs/vx-point.html
  packages/vx-group/Readme.md
  packages/vx-group/docs/api.md
  packages/vx-group/docs/description.md
  packages/vx-group/docs/docs.md
  packages/vx-group/docs/install.md
  packages/vx-group/package.json
  packages/vx-group/src/Group.tsx
  packages/vx-point/Readme.md
Labels: 📝docs

#709 docs(vx-heatmap): convert to docgen
  packages/vx-demo/src/components/PackageList.tsx
  packages/vx-demo/src/pages/docs/Heatmap.tsx
  packages/vx-demo/src/static/docs/vx-heatmap.html
  packages/vx-heatmap/README.md
  packages/vx-heatmap/docs/api.md
  packages/vx-heatmap/docs/description.md
  packages/vx-heatmap/docs/docs.md
  packages/vx-heatmap/docs/install.md
  packages/vx-heatmap/package.json
  packages/vx-heatmap/src/heatmaps/HeatmapRect.tsx
Labels: 📝docs

#710 docs(vx-hierarchy, vx-scale): convert to docgen
  packages/vx-demo/src/components/PackageList.tsx
  packages/vx-demo/src/pages/docs/Hierarchy.tsx
  packages/vx-demo/src/pages/docs/Scale.tsx
  packages/vx-demo/src/static/docs/vx-hierarchy.html
  packages/vx-demo/src/static/docs/vx-scale.html
  packages/vx-hierarchy/Readme.md
  packages/vx-hierarchy/docs/api.md
  packages/vx-hierarchy/docs/description.md
  packages/vx-hierarchy/docs/docs.md
  packages/vx-hierarchy/docs/install.md
  packages/vx-hierarchy/package.json
  packages/vx-scale/Readme.md
Labels: 📝docs

#711 docs(vx-legend): update to docgen
  packages/vx-demo/src/components/PackageList.tsx
  packages/vx-demo/src/pages/docs/Legend.tsx
  packages/vx-demo/src/static/docs/vx-legend.html
  packages/vx-legend/Readme.md
  packages/vx-legend/docs/api.md
  packages/vx-legend/docs/description.md
  packages/vx-legend/docs/docs.md
  packages/vx-legend/docs/install.md
  packages/vx-legend/package.json
  packages/vx-legend/src/legends/Legend/index.tsx
  packages/vx-legend/src/legends/Linear.tsx
  packages/vx-legend/src/legends/Ordinal.tsx
  packages/vx-legend/src/legends/Quantile.tsx
  packages/vx-legend/src/legends/Size.tsx
  packages/vx-legend/src/legends/Threshold.tsx
Labels: 📝docs

#712 docs(vx-marker, vx-network): update to docgen
  packages/vx-demo/src/components/PackageList.tsx
  packages/vx-demo/src/pages/docs/Marker.tsx
  packages/vx-demo/src/pages/docs/Network.tsx
  packages/vx-demo/src/static/docs/vx-marker.html
  packages/vx-demo/src/static/docs/vx-network.html
  packages/vx-marker/Readme.md
  packages/vx-marker/docs/api.md
  packages/vx-marker/docs/description.md
  packages/vx-marker/docs/docs.md
  packages/vx-marker/docs/install.md
  packages/vx-marker/package.json
  packages/vx-network/Readme.md
  packages/vx-network/docs/api.md
  packages/vx-network/docs/description.md
  packages/vx-network/docs/docs.md
  packages/vx-network/docs/install.md
  packages/vx-network/package.json
  packages/vx-network/src/DefaultNode.tsx
Labels: 📝docs

#713 docs(vx-mock-data): update to docgen
  packages/vx-demo/src/components/PackageList.tsx
  packages/vx-demo/src/pages/docs/Mock-Data.tsx
  packages/vx-demo/src/static/docs/vx-mock-data.html
  packages/vx-mock-data/Readme.md
Labels: 📝docs

#714 docs(vx-pattern, vx-responsive): convert to docgen
  packages/vx-demo/src/components/PackageList.tsx
  packages/vx-demo/src/pages/docs/Pattern.tsx
  packages/vx-demo/src/pages/docs/Responsive.tsx
  packages/vx-demo/src/static/docs/vx-pattern.html
  packages/vx-demo/src/static/docs/vx-responsive.html
  packages/vx-pattern/Readme.md
  packages/vx-pattern/docs/api.md
  packages/vx-pattern/docs/description.md
  packages/vx-pattern/docs/docs.md
  packages/vx-pattern/docs/install.md
  packages/vx-pattern/package.json
  packages/vx-pattern/src/patterns/Circles.tsx
  packages/vx-pattern/src/patterns/Hexagons.tsx
  packages/vx-pattern/src/patterns/Lines.tsx
  packages/vx-pattern/src/patterns/Path.tsx
  packages/vx-pattern/src/patterns/Waves.tsx
  packages/vx-responsive/Readme.md
  packages/vx-responsive/docs/api.md
  packages/vx-responsive/docs/description.md
  packages/vx-responsive/docs/docs.md
  packages/vx-responsive/docs/install.md
  packages/vx-responsive/package.json
  packages/vx-responsive/src/components/ParentSize.tsx
  packages/vx-responsive/src/components/ScaleSVG.tsx
Labels: 📝docs

#715 docs(vx-shape): convert to docgen
  packages/vx-demo/src/components/PackageList.tsx
  packages/vx-demo/src/pages/docs/Shape.tsx
  packages/vx-demo/src/static/docs/vx-shape.html
  packages/vx-shape/Readme.md
  packages/vx-shape/docs/api.md
  packages/vx-shape/docs/description.md
  packages/vx-shape/docs/docs.md
  packages/vx-shape/docs/install.md
  packages/vx-shape/package.json
Labels: 📝docs

#717 docs(vx-text, vx-tooltip) convert to docgen
  packages/vx-demo/src/components/PackageList.tsx
  packages/vx-demo/src/pages/docs/Text.tsx
  packages/vx-demo/src/pages/docs/Tooltip.tsx
  packages/vx-demo/src/static/docs/vx-text.html
  packages/vx-demo/src/static/docs/vx-tooltip.html
  packages/vx-text/Readme.md
  packages/vx-text/docs/api.md
  packages/vx-text/docs/description.md
  packages/vx-text/docs/docs.md
  packages/vx-text/docs/install.md
  packages/vx-text/package.json
  packages/vx-text/src/Text.tsx
  packages/vx-tooltip/Readme.md
Labels: 📝docs

#718 docs(vx-threshold): convert to docgen
  packages/vx-demo/src/components/PackageList.tsx
  packages/vx-demo/src/pages/docs/Threshold.tsx
  packages/vx-demo/src/static/docs/vx-threshold.html
  packages/vx-threshold/Readme.md
  packages/vx-threshold/docs/api.md
  packages/vx-threshold/docs/description.md
  packages/vx-threshold/docs/docs.md
  packages/vx-threshold/docs/install.md
Labels: 📝docs

#719 docs(vx-voronoi): convert to docgen
  packages/vx-demo/src/components/PackageList.tsx
  packages/vx-demo/src/pages/docs/Voronoi.tsx
  packages/vx-demo/src/static/docs/vx-voronoi.html
  packages/vx-voronoi/Readme.md
  packages/vx-voronoi/docs/api.md
  packages/vx-voronoi/docs/description.md
  packages/vx-voronoi/docs/docs.md
  packages/vx-voronoi/docs/install.md
  packages/vx-voronoi/package.json
  packages/vx-voronoi/src/voronoi.ts
Labels: 📝docs

#720 docs(vx-zoom, vx-vx): convert to docgen
  packages/vx-demo/src/components/PackageList.tsx
  packages/vx-demo/src/pages/Docs.tsx
  packages/vx-demo/src/pages/docs/Vx.tsx
  packages/vx-demo/src/pages/docs/Zoom.tsx
  packages/vx-demo/src/static/docs/vx-vx.html
  packages/vx-demo/src/static/docs/vx-zoom.html
  packages/vx-demo/src/types/index.ts
  packages/vx-vx/Readme.md
  packages/vx-vx/src/index.ts
  packages/vx-zoom/Readme.md
  packages/vx-zoom/docs/api.md
  packages/vx-zoom/docs/description.md
  packages/vx-zoom/docs/docs.md
  packages/vx-zoom/docs/install.md
  packages/vx-zoom/package.json
  packages/vx-zoom/src/Zoom.tsx
Labels: 📝docs

#716 docs(vx-stats): convert to docgen
  packages/vx-demo/src/components/PackageList.tsx
  packages/vx-demo/src/pages/docs/Stats.tsx
  packages/vx-demo/src/static/docs/vx-stats.html
  packages/vx-stats/Readme.md
  packages/vx-stats/docs/api.md
  packages/vx-stats/docs/description.md
  packages/vx-stats/docs/docs.md
  packages/vx-stats/docs/install.md
  packages/vx-stats/package.json
Labels: 📝docs

#730 docs: cleanup autogen
  package.json
  packages/vx-bounds/Readme.md
  packages/vx-demo/src/components/DocPage.tsx
  packages/vx-demo/src/components/PackageList.tsx
  packages/vx-demo/src/pages/docs/Annotation.tsx
  packages/vx-demo/src/pages/docs/Axis.tsx
  packages/vx-demo/src/pages/docs/Brush.tsx
  packages/vx-demo/src/pages/docs/Chord.tsx
  packages/vx-demo/src/pages/docs/Clip-Path.tsx
  packages/vx-demo/src/pages/docs/Drag.tsx
  packages/vx-demo/src/pages/docs/Geo.tsx
  packages/vx-demo/src/pages/docs/Glyph.tsx
  packages/vx-demo/src/pages/docs/Gradient.tsx
  packages/vx-demo/src/pages/docs/Grid.tsx
  packages/vx-demo/src/pages/docs/Group.tsx
  packages/vx-demo/src/pages/docs/Heatmap.tsx
  packages/vx-demo/src/pages/docs/Hierarchy.tsx
  packages/vx-demo/src/pages/docs/Legend.tsx
  packages/vx-demo/src/pages/docs/Marker.tsx
  packages/vx-demo/src/pages/docs/Network.tsx
  packages/vx-demo/src/pages/docs/Pattern.tsx
  packages/vx-demo/src/pages/docs/Responsive.tsx
  packages/vx-demo/src/pages/docs/Shape.tsx
  packages/vx-demo/src/pages/docs/Stats.tsx
  packages/vx-demo/src/pages/docs/Text.tsx
  packages/vx-demo/src/pages/docs/Threshold.tsx
  packages/vx-demo/src/pages/docs/Voronoi.tsx
  packages/vx-demo/src/pages/docs/Zoom.tsx
  scripts/buildDocs.sh
  scripts/docs/README.md
  scripts/docs/constants.js
  scripts/docs/index.js
  scripts/docs/package.json
  scripts/genMarkdown.js
  yarn.lock
Labels: 🏠internal

#721 Fix tooltip with bounds
  packages/vx-tooltip/Readme.md
  packages/vx-tooltip/src/tooltips/TooltipWithBounds.tsx
  packages/vx-tooltip/test/TooltipWithBounds.test.tsx
Labels: 🐛bug, 🚀enhancement
