Repository airbnb/visx, pull requests merged in 2020-10, with the labels that each got.

#808 new(xychart): add BarSeries
  packages/visx-demo/src/sandboxes/visx-xychart/Example.tsx
  packages/visx-demo/src/sandboxes/visx-xychart/ExampleControls.tsx
  packages/visx-demo/src/sandboxes/visx-xychart/customTheme.ts
  packages/visx-react-spring/src/axis/AnimatedTicks.tsx
  packages/visx-xychart/src/classes/DataRegistry.ts
  packages/visx-xychart/src/components/series/BarSeries.tsx
  packages/visx-xychart/src/components/series/LineSeries.tsx
  packages/visx-xychart/src/enhancers/withRegisteredData.tsx
  packages/visx-xychart/src/hooks/useDataRegistry.ts
  packages/visx-xychart/src/hooks/useScales.ts
  packages/visx-xychart/src/index.ts
  packages/visx-xychart/src/providers/DataProvider.tsx
  packages/visx-xychart/src/theme/colors.ts
  packages/visx-xychart/src/theme/themes/dark.ts
  packages/visx-xychart/src/types/data.ts
  packages/visx-xychart/src/types/index.ts
  packages/visx-xychart/src/types/series.ts
  packages/visx-xychart/src/utils/getScaleBandwidth.ts
  packages/visx-xychart/src/utils/getScaledValueFactory.ts
  packages/visx-xychart/test/BarSeries.test.tsx
  packages/visx-xychart/test/Grid.test.tsx
  packages/visx-xychart/test/LineSeries.test.tsx
  packages/visx-xychart/test/mocks/getDataContext.ts
  packages/visx-xychart/test/useDataRegistry.test.tsx
  packages/visx-xychart/test/withRegisteredData.test.tsx
  yarn.lock
Labels: 📝docs, 🚀enhancement

#838 Remove code duplication
  packages/visx-pattern/src/patterns/Lines.tsx
Labels: @visx/pattern, 🏠internal

#833 test(text): improve @visx/text coverage
  packages/visx-text/test/Text.test.tsx
Labels: @visx/text, 🏠internal

#835 test(xychart): add Event + Tooltip tests
  packages/visx-xychart/package.json
  packages/visx-xychart/src/components/Tooltip.tsx
  packages/visx-xychart/src/components/series/BarSeries.tsx
  packages/visx-xychart/src/components/series/LineSeries.tsx
  packages/visx-xychart/src/types/event.ts
  packages/visx-xychart/src/utils/findNearestDatumSingleDimension.ts
  packages/visx-xychart/test/classes/DataRegistry.test.ts
  packages/visx-xychart/test/components/Axis.test.tsx
  packages/visx-xychart/test/components/BarSeries.test.tsx
  packages/visx-xychart/test/components/Grid.test.tsx
  packages/visx-xychart/test/components/LineSeries.test.tsx
  packages/visx-xychart/test/components/Tooltip.test.tsx
  packages/visx-xychart/test/components/XYChart.test.tsx
  packages/visx-xychart/test/enhancers/withRegisteredData.test.tsx
  packages/visx-xychart/test/hooks/useDataRegistry.test.tsx
  packages/visx-xychart/test/hooks/useEventEmitter.test.tsx
  packages/visx-xychart/test/providers/DataProvider.test.tsx
  packages/visx-xychart/test/providers/EventEmitterProvider.test.tsx
  packages/visx-xychart/test/providers/ThemeProvider.test.tsx
  packages/visx-xychart/test/providers/TooltipProvider.test.tsx
  packages/visx-xychart/test/utils/findNearestDatum.test.ts
Labels: @visx/xychart, 🏠internal

#825 new(xychart): add (EventEmitter, Tooltip)Context + basic Tooltips
  packages/visx-demo/src/sandboxes/visx-xychart/Example.tsx
  packages/visx-xychart/package.json
  packages/visx-xychart/src/components/Tooltip.tsx
  packages/visx-xychart/src/components/XYChart.tsx
  packages/visx-xychart/src/components/series/BarSeries.tsx
  packages/visx-xychart/src/components/series/LineSeries.tsx
  packages/visx-xychart/src/context/EventEmitterContext.tsx
  packages/visx-xychart/src/context/TooltipContext.tsx
  packages/visx-xychart/src/hooks/useEventEmitter.ts
  packages/visx-xychart/src/index.ts
  packages/visx-xychart/src/providers/EventEmitterProvider.tsx
  packages/visx-xychart/src/providers/TooltipProvider.tsx
  packages/visx-xychart/src/types/event.ts
  packages/visx-xychart/src/types/index.ts
  packages/visx-xychart/src/types/tooltip.ts
  packages/visx-xychart/src/utils/findNearestDatumSingleDimension.ts
  packages/visx-xychart/src/utils/findNearestDatumX.ts
  packages/visx-xychart/src/utils/findNearestDatumXY.ts
  packages/visx-xychart/src/utils/findNearestDatumY.ts
  packages/visx-xychart/test/classes/DataRegistry.test.ts
  packages/visx-xychart/test/components/Axis.test.tsx
  packages/visx-xychart/test/components/BarSeries.test.tsx
  packages/visx-xychart/test/components/Grid.test.tsx
  packages/visx-xychart/test/components/LineSeries.test.tsx
  packages/visx-xychart/test/components/Tooltip.test.tsx
  packages/visx-xychart/test/components/XYChart.test.tsx
  packages/visx-xychart/test/enhancers/withRegisteredData.test.tsx
  packages/visx-xychart/test/hooks/useDataRegistry.test.tsx
  packages/visx-xychart/test/hooks/useEventEmitter.test.tsx
  packages/visx-xychart/test/providers/DataProvider.test.tsx
  packages/visx-xychart/test/providers/EventEmitterProvider.test.tsx
  packages/visx-xychart/test/providers/ThemeProvider.test.tsx
  packages/visx-xychart/test/providers/TooltipProvider.test.tsx
  packages/visx-xychart/test/utils/findNearestDatum.test.ts
  yarn.lock
Labels: @visx/xychart, 🚀enhancement

#843 Add a new "In the wild" link
  README.md
Labels: 📝docs

#840 Set Line shapeRendering to crispEdges if rectilinear
  packages/visx-shape/src/shapes/Line.tsx
  packages/visx-shape/test/Line.test.tsx
Labels: @visx/shape, 🚀enhancement

#847 fix(shape/LinkHorizontalStep): render horizontally not vertically
  packages/visx-shape/src/shapes/link/step/LinkHorizontalStep.tsx
Labels: @visx/shape, 🐛bug

#836 Add `initialHeight` and `initialWidth` to `withParentSize`
  packages/visx-responsive/src/enhancers/withParentSize.tsx
Labels: @visx/responsive, 🚀enhancement

#841 fix(computeStats) #427 Exception thrown when firstQuartile and thirdQuartile are equal
  packages/visx-stats/src/util/computeStats.ts
  packages/visx-stats/test/computeStats.test.ts
Labels: @visx/stats, 🐛bug

#834 new(responsive): add `ignoreDimensions` prop to handle rerenders
  packages/visx-responsive/src/components/ParentSize.tsx
Labels: @visx/responsive, 🚀enhancement

#828 fix TooltipWithBounds positioning
  packages/visx-tooltip/src/tooltips/Tooltip.tsx
  packages/visx-tooltip/src/tooltips/TooltipWithBounds.tsx
  packages/visx-tooltip/test/TooltipWithBounds.test.tsx
Labels: @visx/tooltip, 🐛bug

#853 fix(stats): update min/max in computeStats to handle no outliers
  packages/visx-stats/src/util/computeStats.ts
  packages/visx-stats/test/computeStats.test.ts
Labels: @visx/stats, 🐛bug

#852 test(xychart): add refined Tooltip, TooltipProvider tests
  packages/visx-xychart/test/components/Tooltip.test.tsx
  packages/visx-xychart/test/providers/TooltipProvider.test.tsx
Labels: @visx/xychart, 🏠internal

#846 new(xychart): refine TooltipContext + Tooltip functionality
  packages/visx-demo/src/sandboxes/visx-xychart/CustomChartBackground.tsx
  packages/visx-demo/src/sandboxes/visx-xychart/Example.tsx
  packages/visx-demo/src/sandboxes/visx-xychart/ExampleControls.tsx
  packages/visx-tooltip/src/hooks/useTooltip.ts
  packages/visx-tooltip/src/hooks/useTooltipInPortal.tsx
  packages/visx-xychart/package.json
  packages/visx-xychart/src/components/Tooltip.tsx
  packages/visx-xychart/src/components/series/BarSeries.tsx
  packages/visx-xychart/src/components/series/LineSeries.tsx
  packages/visx-xychart/src/context/TooltipContext.tsx
  packages/visx-xychart/src/providers/TooltipProvider.tsx
  packages/visx-xychart/src/types/tooltip.ts
  packages/visx-xychart/src/utils/findNearestDatumX.ts
  packages/visx-xychart/src/utils/findNearestDatumY.ts
  packages/visx-xychart/test/components/Tooltip.test.tsx
  packages/visx-xychart/test/providers/TooltipProvider.test.tsx
Labels: @visx/xychart, 🚀enhancement

#859 fix(network): apply fill and radius props to circle element in DefaultNode
  packages/visx-network/src/DefaultNode.tsx
Labels: @visx/network, 🐛bug

#814 fix(demo/text): render 0 as number (#813)
  packages/visx-text/src/Text.tsx
  packages/visx-text/test/Text.test.tsx
Labels: @visx/text, 🐛bug

#860 internal(readme): add https://dollar-to-food-emoji.web.app/ demo to README.md
  README.md
Labels: 🏠internal

#857 fix(tooltip): fallback to left/top positioning, add applyPositionStyle
  packages/visx-tooltip/src/tooltips/Tooltip.tsx
  packages/visx-tooltip/src/tooltips/TooltipWithBounds.tsx
  packages/visx-tooltip/test/TooltipWithBounds.test.tsx
Labels: @visx/tooltip, 🐛bug, 🚀enhancement

#837 [TooltipWithBounds] fix : overflowing its parent on small screens
  packages/visx-tooltip/src/tooltips/TooltipWithBounds.tsx
Labels: @visx/tooltip, 🐛bug

#867 refactor: remove dead link and add one link
  README.md
Labels: 📝docs

#866 test(xychart): add BarStack tests
  packages/visx-xychart/src/hooks/useDimensions.ts
  packages/visx-xychart/src/providers/DataProvider.tsx
  packages/visx-xychart/test/components/BarStack.test.tsx
  packages/visx-xychart/test/mocks/getDataContext.ts
  packages/visx-xychart/test/utils/combineBarStackData.test.tsx
  packages/visx-xychart/test/utils/findNearestDatum.test.ts
Labels: @visx/xychart, 🏠internal

#865 new(xychart): add BarStack series
  packages/visx-demo/src/sandboxes/visx-xychart/Example.tsx
  packages/visx-demo/src/sandboxes/visx-xychart/ExampleControls.tsx
  packages/visx-demo/src/sandboxes/visx-xychart/customTheme.ts
  packages/visx-xychart/package.json
  packages/visx-xychart/src/components/series/BarSeries.tsx
  packages/visx-xychart/src/components/series/BarStack.tsx
  packages/visx-xychart/src/components/series/LineSeries.tsx
  packages/visx-xychart/src/enhancers/withRegisteredData.tsx
  packages/visx-xychart/src/hooks/useDataRegistry.ts
  packages/visx-xychart/src/hooks/useDimensions.ts
  packages/visx-xychart/src/index.ts
  packages/visx-xychart/src/providers/DataProvider.tsx
  packages/visx-xychart/src/typeguards/isChildWithProps.ts
  packages/visx-xychart/src/types/data.ts
  packages/visx-xychart/src/types/event.ts
  packages/visx-xychart/src/types/series.ts
  packages/visx-xychart/src/utils/combineBarStackData.ts
  packages/visx-xychart/src/utils/findNearestStackDatum.ts
  packages/visx-xychart/src/utils/getBarStackRegistryData.ts
  packages/visx-xychart/test/components/BarStack.test.tsx
  packages/visx-xychart/test/mocks/getDataContext.ts
  packages/visx-xychart/test/utils/combineBarStackData.test.tsx
  packages/visx-xychart/test/utils/findNearestDatum.test.ts
Labels: @visx/xychart, 🚀enhancement

#877 fix(demo/areas): handle non-zero margins
  packages/visx-demo/src/sandboxes/visx-area/Example.tsx
Labels: @visx/demo, 🐛bug

#885 new(xychart): add (Animated)GlyphSeries
  packages/visx-demo/src/sandboxes/visx-xychart/Example.tsx
  packages/visx-demo/src/sandboxes/visx-xychart/ExampleControls.tsx
  packages/visx-demo/src/sandboxes/visx-xychart/package.json
  packages/visx-react-spring/src/axis/AnimatedTicks.tsx
  packages/visx-react-spring/src/grid/AnimatedGridLines.tsx
  packages/visx-react-spring/src/spring-configs/useLineTransitionConfig.ts
  packages/visx-xychart/package.json
  packages/visx-xychart/src/components/series/AnimatedGlyphSeries.tsx
  packages/visx-xychart/src/components/series/GlyphSeries.tsx
  packages/visx-xychart/src/components/series/private/AnimatedGlyphs.tsx
  packages/visx-xychart/src/components/series/private/BaseGlyphSeries.tsx
  packages/visx-xychart/src/components/series/private/defaultRenderGlyph.tsx
  packages/visx-xychart/src/enhancers/withRegisteredData.tsx
  packages/visx-xychart/src/index.ts
  packages/visx-xychart/src/types/series.ts
  packages/visx-xychart/test/components/GlyphSeries.test.tsx
Labels: @visx/xychart, 💨 animation, 🚀enhancement

#891 internal(travis.yml): delete .travis.yml
  .travis.yml
Labels: 🏠internal
