Repository airbnb/visx, pull requests merged in 2020-03, with the labels that each got.

#639 style(vx-tooltip): resolve linter errors (no-shadow)
  packages/vx-tooltip/src/hooks/useTooltip.ts
Labels: 🏠internal

#637 refactor(vx-demo): Remove duplication of demo example source
  package.json
  packages/vx-demo/package.json
  packages/vx-demo/src/pages/Areas.tsx
  packages/vx-demo/src/pages/Axis.tsx
  packages/vx-demo/src/pages/BarGroup.tsx
  packages/vx-demo/src/pages/BarGroupHorizontal.tsx
  packages/vx-demo/src/pages/BarStack.tsx
  packages/vx-demo/src/pages/BarStackHorizontal.tsx
  packages/vx-demo/src/pages/Bars.tsx
  packages/vx-demo/src/pages/Brush.tsx
  packages/vx-demo/src/pages/Chord.tsx
  packages/vx-demo/src/pages/Dendrograms.tsx
  packages/vx-demo/src/pages/Dots.tsx
  packages/vx-demo/src/pages/Drag-i.tsx
  packages/vx-demo/src/pages/Drag-ii.tsx
  packages/vx-demo/src/pages/Geo-Custom.tsx
  packages/vx-demo/src/pages/Geo-Mercator.tsx
  packages/vx-demo/src/pages/Glyphs.tsx
  packages/vx-demo/src/pages/Gradients.tsx
  packages/vx-demo/src/pages/Heatmaps.tsx
  packages/vx-demo/src/pages/Legends.tsx
  packages/vx-demo/src/pages/LineRadial.tsx
  packages/vx-demo/src/pages/Lines.tsx
  packages/vx-demo/src/pages/LinkTypes.tsx
  packages/vx-demo/src/pages/Network.tsx
  packages/vx-demo/src/pages/Pack.tsx
  packages/vx-demo/src/pages/Patterns.tsx
  packages/vx-demo/src/pages/Pies.tsx
  packages/vx-demo/src/pages/Polygons.tsx
  packages/vx-demo/src/pages/Radar.tsx
  packages/vx-demo/src/pages/Responsive.tsx
  packages/vx-demo/src/pages/Stacked-Areas.tsx
  packages/vx-demo/src/pages/Statsplot.tsx
  packages/vx-demo/src/pages/Streamgraph.tsx
  packages/vx-demo/src/pages/Threshold.tsx
  packages/vx-demo/src/pages/Treemap.tsx
  packages/vx-demo/src/pages/Trees.tsx
  packages/vx-demo/src/pages/Voronoi.tsx
  packages/vx-demo/src/pages/Zoom-i.tsx
  packages/vx-demo/src/types/raw-loader.d.ts
Labels: ✨development, 🏠internal

#627 Edit in 'Goal' section, under 'Motivation'
  README.md
Labels: 📝docs

#634 fix: BrushSelection offset in brush demo
  packages/vx-brush/src/Brush.tsx
  packages/vx-demo/src/components/tiles/Brush.tsx
Labels: 📝docs

#642 new(demo): Add proof-of-concept code sandbox example
  README.md
  package.json
  packages/vx-demo/package.json
  packages/vx-demo/src/components/CodeSandboxLink.tsx
  packages/vx-demo/src/components/Gallery.tsx
  packages/vx-demo/src/components/Show.tsx
  packages/vx-demo/src/components/codeblocks/Codeblock.tsx
  packages/vx-demo/src/components/tiles/Axis.tsx
  packages/vx-demo/src/components/tiles/Drag-i.tsx
  packages/vx-demo/src/components/tiles/Drag-ii.tsx
  packages/vx-demo/src/components/tiles/Legends.tsx
  packages/vx-demo/src/docs-v2/examples/README.md
  packages/vx-demo/src/docs-v2/examples/vx-axis/Example.tsx
  packages/vx-demo/src/docs-v2/examples/vx-axis/index.tsx
  packages/vx-demo/src/docs-v2/examples/vx-axis/package.json
  packages/vx-demo/src/docs-v2/examples/vx-axis/styles.css
  packages/vx-demo/src/next.config.js
  packages/vx-demo/src/pages/Axis.tsx
  packages/vx-demo/src/pages/Gallery.tsx
  packages/vx-demo/src/types/react-tilt.d.ts
  packages/vx-text/src/Text.tsx
Labels: ✨development, 🐛bug, 📝docs

#645 Fix typo within readme
  README.md
Labels: 📝docs

#647 new(demo): link `Glyph` + `Gradient` examples to codesandbox
  packages/vx-demo/src/components/Gallery.tsx
  packages/vx-demo/src/components/Show.tsx
  packages/vx-demo/src/components/tiles/Glyphs.tsx
  packages/vx-demo/src/components/tiles/Gradients.tsx
  packages/vx-demo/src/docs-v2/examples/vx-axis/Example.tsx
  packages/vx-demo/src/docs-v2/examples/vx-glyph/Example.tsx
  packages/vx-demo/src/docs-v2/examples/vx-glyph/index.tsx
  packages/vx-demo/src/docs-v2/examples/vx-glyph/package.json
  packages/vx-demo/src/docs-v2/examples/vx-glyph/sandbox-styles.css
  packages/vx-demo/src/docs-v2/examples/vx-gradient/Example.tsx
  packages/vx-demo/src/docs-v2/examples/vx-gradient/index.tsx
  packages/vx-demo/src/docs-v2/examples/vx-gradient/package.json
  packages/vx-demo/src/docs-v2/examples/vx-gradient/sandbox-styles.css
  packages/vx-demo/src/pages/Glyphs.tsx
  packages/vx-demo/src/pages/Gradients.tsx
Labels: ✨development, 📝docs

#648 new(demo): link `Streamgraph` + `LineRadial` examples to codesandbox
  packages/vx-demo/package.json
  packages/vx-demo/src/components/Gallery.tsx
  packages/vx-demo/src/components/tiles/LineRadial.tsx
  packages/vx-demo/src/components/tiles/Streamgraph.tsx
  packages/vx-demo/src/docs-v2/examples/vx-shape-line-radial/Example.tsx
  packages/vx-demo/src/docs-v2/examples/vx-shape-line-radial/index.tsx
  packages/vx-demo/src/docs-v2/examples/vx-shape-line-radial/package.json
  packages/vx-demo/src/docs-v2/examples/vx-shape-line-radial/sandbox-styles.css
  packages/vx-demo/src/docs-v2/examples/vx-streamgraph/Example.tsx
  packages/vx-demo/src/docs-v2/examples/vx-streamgraph/generateData.ts
  packages/vx-demo/src/docs-v2/examples/vx-streamgraph/index.tsx
  packages/vx-demo/src/docs-v2/examples/vx-streamgraph/package.json
  packages/vx-demo/src/docs-v2/examples/vx-streamgraph/sandbox-styles.css
  packages/vx-demo/src/docs-v2/examples/vx-streamgraph/useForceUpdate.ts
  packages/vx-demo/src/pages/LineRadial.tsx
  packages/vx-demo/src/pages/Streamgraph.tsx
Labels: ✨development, 📝docs

#649 new(demo): link `Pies` example to codesandbox
  packages/vx-demo/src/components/Gallery.tsx
  packages/vx-demo/src/components/Show.tsx
  packages/vx-demo/src/components/tiles/Pies.tsx
  packages/vx-demo/src/docs-v2/examples/vx-shape-pie/Example.tsx
  packages/vx-demo/src/docs-v2/examples/vx-shape-pie/index.tsx
  packages/vx-demo/src/docs-v2/examples/vx-shape-pie/package.json
  packages/vx-demo/src/docs-v2/examples/vx-shape-pie/sandbox-styles.css
  packages/vx-demo/src/pages/Pies.tsx
  packages/vx-shape/src/shapes/Pie.tsx
Labels: 🏠internal, 📝docs, 🚀enhancement

#652 new(demo): link `Pattern` example to codesandbox
  packages/vx-demo/src/components/Gallery.tsx
  packages/vx-demo/src/components/tiles/Patterns.tsx
  packages/vx-demo/src/docs-v2/examples/vx-gradient/Example.tsx
  packages/vx-demo/src/docs-v2/examples/vx-pattern/Example.tsx
  packages/vx-demo/src/docs-v2/examples/vx-pattern/index.tsx
  packages/vx-demo/src/docs-v2/examples/vx-pattern/package.json
  packages/vx-demo/src/docs-v2/examples/vx-pattern/sandbox-styles.css
  packages/vx-demo/src/pages/Patterns.tsx
Labels: 🏠internal, 📝docs

#653 new(demo): link `GeoMercator` + `GeoCustom` examples to codesandbox
  packages/vx-demo/src/components/Gallery.tsx
  packages/vx-demo/src/components/tiles/Geo-Custom.tsx
  packages/vx-demo/src/docs-v2/examples/vx-geo-custom/Example.tsx
  packages/vx-demo/src/docs-v2/examples/vx-geo-custom/index.tsx
  packages/vx-demo/src/docs-v2/examples/vx-geo-custom/package.json
  packages/vx-demo/src/docs-v2/examples/vx-geo-custom/sandbox-styles.css
  packages/vx-demo/src/docs-v2/examples/vx-geo-custom/world-topo.d.ts
  packages/vx-demo/src/docs-v2/examples/vx-geo-custom/world-topo.json
  packages/vx-demo/src/docs-v2/examples/vx-geo-mercator/Example.tsx
  packages/vx-demo/src/docs-v2/examples/vx-geo-mercator/index.tsx
  packages/vx-demo/src/docs-v2/examples/vx-geo-mercator/package.json
  packages/vx-demo/src/docs-v2/examples/vx-geo-mercator/sandbox-styles.css
  packages/vx-demo/src/docs-v2/examples/vx-geo-mercator/world-topo.d.ts
  packages/vx-demo/src/docs-v2/examples/vx-geo-mercator/world-topo.json
  packages/vx-demo/src/docs-v2/examples/vx-responsive/Example.tsx
  packages/vx-demo/src/pages/Geo-Custom.tsx
  packages/vx-demo/src/pages/Geo-Mercator.tsx
  packages/vx-zoom/src/Zoom.tsx
Labels: 🏠internal, 📝docs
