Repository airbnb/visx, pull requests merged in 2020-12, with the labels that each got.

#929 fix(demo): fix view demo hover pointer
  packages/visx-demo/src/pages/home.tsx
Labels: 📝docs

#955 fix(shape/AreaClosed): set y0 when it equals zero
  packages/visx-shape/src/shapes/AreaClosed.tsx
Labels: @visx/shape, 🐛bug

#948 test(xychart): add Annotations tests
  packages/visx-xychart/test/components/Annotation.test.tsx
  packages/visx-xychart/test/components/AnnotationCircleSubject.test.tsx
  packages/visx-xychart/test/components/AnnotationConnector.test.tsx
  packages/visx-xychart/test/components/AnnotationLabel.test.tsx
  packages/visx-xychart/test/components/AnnotationLineSubject.test.tsx
  packages/visx-xychart/test/components/Axis.test.tsx
  packages/visx-xychart/test/mocks/getDataContext.ts
Labels: @visx/xychart, 🏠internal

#947 new(xychart): add PointerEvent handlers to XYChart and *Series
  packages/visx-demo/src/sandboxes/visx-xychart/Example.tsx
  packages/visx-demo/src/sandboxes/visx-xychart/ExampleControls.tsx
  packages/visx-xychart/src/components/XYChart.tsx
  packages/visx-xychart/src/components/series/AnimatedBarGroup.tsx
  packages/visx-xychart/src/components/series/AnimatedGlyphSeries.tsx
  packages/visx-xychart/src/components/series/BarGroup.tsx
  packages/visx-xychart/src/components/series/GlyphSeries.tsx
  packages/visx-xychart/src/components/series/private/AnimatedBars.tsx
  packages/visx-xychart/src/components/series/private/AnimatedGlyphs.tsx
  packages/visx-xychart/src/components/series/private/AnimatedPath.tsx
  packages/visx-xychart/src/components/series/private/Bars.tsx
  packages/visx-xychart/src/components/series/private/BaseAreaSeries.tsx
  packages/visx-xychart/src/components/series/private/BaseBarGroup.tsx
  packages/visx-xychart/src/components/series/private/BaseBarSeries.tsx
  packages/visx-xychart/src/components/series/private/BaseBarStack.tsx
  packages/visx-xychart/src/components/series/private/BaseGlyphSeries.tsx
  packages/visx-xychart/src/components/series/private/BaseLineSeries.tsx
  packages/visx-xychart/src/components/series/private/defaultRenderGlyph.tsx
  packages/visx-xychart/src/constants.ts
  packages/visx-xychart/src/hooks/useEventEmitter.ts
  packages/visx-xychart/src/hooks/usePointerEventEmitters.ts
  packages/visx-xychart/src/hooks/usePointerEventHandlers.ts
  packages/visx-xychart/src/providers/TooltipProvider.tsx
  packages/visx-xychart/src/types/event.ts
  packages/visx-xychart/src/types/series.ts
  packages/visx-xychart/src/types/tooltip.ts
  packages/visx-xychart/src/utils/findNearestDatumX.ts
  packages/visx-xychart/src/utils/findNearestDatumXY.ts
  packages/visx-xychart/src/utils/findNearestDatumY.ts
  packages/visx-xychart/test/components/AreaSeries.test.tsx
  packages/visx-xychart/test/components/BarGroup.test.tsx
  packages/visx-xychart/test/components/BarSeries.test.tsx
  packages/visx-xychart/test/components/BarStack.test.tsx
  packages/visx-xychart/test/components/GlyphSeries.test.tsx
  packages/visx-xychart/test/components/LineSeries.test.tsx
  packages/visx-xychart/test/hooks/useEventEmitter.test.tsx
Labels: @visx/xychart, 🚀enhancement

#952 test(xychart): add PointerEvent tests
  packages/visx-xychart/src/hooks/useEventEmitter.ts
  packages/visx-xychart/test/hooks/useEventEmitter.test.tsx
  packages/visx-xychart/test/hooks/usePointerEventEmitters.test.tsx
  packages/visx-xychart/test/hooks/usePointerEventHandlers.test.tsx
Labels: 🏠internal

#957 fix(xychart): PointerEvent fixes
  packages/visx-xychart/src/components/series/private/BaseAreaSeries.tsx
  packages/visx-xychart/src/components/series/private/BaseBarGroup.tsx
  packages/visx-xychart/src/components/series/private/BaseBarSeries.tsx
  packages/visx-xychart/src/components/series/private/BaseBarStack.tsx
  packages/visx-xychart/src/components/series/private/BaseGlyphSeries.tsx
  packages/visx-xychart/src/components/series/private/BaseLineSeries.tsx
  packages/visx-xychart/src/providers/TooltipProvider.tsx
Labels: @visx/xychart, 🐛bug

#956 new(event): support FocusEvents in localPoint
  packages/visx-event/src/getXAndYFromEvent.ts
  packages/visx-event/src/typeGuards.ts
  packages/visx-event/src/types.ts
  packages/visx-event/test/getXandYFromEvent.test.ts
Labels: @visx/event, 🚀enhancement

#946 Refactor(@visx/text): rewrite Text with hook
  packages/visx-annotation/test/Label.test.tsx
  packages/visx-text/package.json
  packages/visx-text/src/Text.tsx
  packages/visx-text/src/hooks/useText.ts
  packages/visx-text/src/index.ts
  packages/visx-text/src/types.ts
  packages/visx-text/test/Text.test.tsx
Labels: @visx/text, 🏠internal, 🚀enhancement

#962 test(xychart): add focus/blur handler tests
  packages/visx-xychart/src/hooks/useEventEmitter.ts
  packages/visx-xychart/src/hooks/useEventHandlers.ts
  packages/visx-xychart/src/utils/findNearestGroupDatum.ts
  packages/visx-xychart/test/components/AreaSeries.test.tsx
  packages/visx-xychart/test/components/LineSeries.test.tsx
  packages/visx-xychart/test/hooks/useEventEmitters.test.tsx
  packages/visx-xychart/test/hooks/useEventHandlers.test.tsx
  packages/visx-xychart/test/utils/findNearestDatum.test.ts
Labels: 🏠internal, 🐛bug

#958 feat(*): added scale radial
  packages/visx-scale/Readme.md
  packages/visx-scale/package.json
  packages/visx-scale/src/index.ts
  packages/visx-scale/src/operators/unknown.ts
  packages/visx-scale/src/scales/radial.ts
  packages/visx-scale/src/types/Scale.ts
  packages/visx-scale/src/types/ScaleConfig.ts
  packages/visx-scale/test/scaleRadial.test.ts
  yarn.lock
Labels: @visx/scale, 🚀enhancement

#925 Remove resize observer polyfill
  packages/visx-responsive/Readme.md
  packages/visx-responsive/src/components/ParentSizeModern.tsx
  packages/visx-responsive/src/enhancers/withParentSizeModern.tsx
  packages/visx-responsive/src/index.ts
  packages/visx-responsive/src/types/index.ts
Labels: @visx/responsive, 🚀enhancement

#964 deps: update yarn.lock
  yarn.lock
Labels: 🏠internal

#965 internal(xychart): make package public
  packages/visx-xychart/package.json
Labels: @visx/xychart, 🏠internal

#966 new(xychart): move all Animated* exports to @visx/xychart/animated
  packages/visx-demo/src/sandboxes/visx-xychart/Example.tsx
  packages/visx-demo/src/sandboxes/visx-xychart/ExampleControls.tsx
  packages/visx-xychart/README.md
  packages/visx-xychart/src/animated/index.ts
  packages/visx-xychart/src/index.ts
  packages/visx-xychart/test/components/Annotation.test.tsx
  packages/visx-xychart/test/components/AreaSeries.test.tsx
  packages/visx-xychart/test/components/Axis.test.tsx
  packages/visx-xychart/test/components/BarGroup.test.tsx
  packages/visx-xychart/test/components/BarSeries.test.tsx
  packages/visx-xychart/test/components/BarStack.test.tsx
  packages/visx-xychart/test/components/GlyphSeries.test.tsx
  packages/visx-xychart/test/components/Grid.test.tsx
  packages/visx-xychart/test/components/LineSeries.test.tsx
Labels: @visx/xychart, 🚀enhancement

#970 [tooltip] Corrects a documentation error
  packages/visx-tooltip/Readme.md
Labels: @visx/tooltip, 📝docs

#963 docs(xychart): add README, add docs/xychart page, add XYChart gallery tile
  packages/visx-demo/src/components/Gallery/XYChartTile.tsx
  packages/visx-demo/src/components/Gallery/index.tsx
  packages/visx-demo/src/components/PackageList.tsx
  packages/visx-demo/src/pages/docs/xychart.tsx
  packages/visx-demo/src/sandboxes/visx-xychart/Example.tsx
  packages/visx-demo/src/sandboxes/visx-xychart/package.json
  packages/visx-demo/src/sandboxes/visx-xychart/sandbox-styles.css
  packages/visx-demo/src/types/index.ts
  packages/visx-xychart/README.md
  packages/visx-xychart/package.json
Labels: @visx/xychart, 🐯example, 📝docs

#972 docs(xychart): add advanced usage sandbox examples
  packages/visx-xychart/README.md
  packages/visx-xychart/src/types/series.ts
Labels: @visx/xychart, 🐛bug, 🐯example, 📝docs
