Repository airbnb/visx, pull requests merged in 2020-11, with the labels that each got.

#898 new(xychart): handle rendering + tweening missing values
  packages/visx-demo/src/sandboxes/visx-xychart/Example.tsx
  packages/visx-demo/src/sandboxes/visx-xychart/ExampleControls.tsx
  packages/visx-xychart/package.json
  packages/visx-xychart/src/components/series/private/AnimatedBars.tsx
  packages/visx-xychart/src/components/series/private/AnimatedGlyphs.tsx
  packages/visx-xychart/src/components/series/private/AnimatedPath.tsx
  packages/visx-xychart/src/components/series/private/BaseAreaSeries.tsx
  packages/visx-xychart/src/components/series/private/BaseBarGroup.tsx
  packages/visx-xychart/src/components/series/private/BaseBarSeries.tsx
  packages/visx-xychart/src/components/series/private/BaseBarStack.tsx
  packages/visx-xychart/src/components/series/private/BaseGlyphSeries.tsx
  packages/visx-xychart/src/components/series/private/BaseLineSeries.tsx
  packages/visx-xychart/src/hooks/useScales.ts
  packages/visx-xychart/src/providers/DataProvider.tsx
  packages/visx-xychart/src/types/data.ts
  packages/visx-xychart/src/utils/getScaledValueFactory.ts
  packages/visx-xychart/src/utils/isDiscreteScale.ts
  packages/visx-xychart/test/components/BarGroup.test.tsx
  packages/visx-xychart/test/components/BarStack.test.tsx
  packages/visx-xychart/test/mocks/getDataContext.ts
  yarn.lock
Labels: @visx/xychart, 🏠internal, 🐛bug, 🚀enhancement

#899 new(xychart): expose curve types
  packages/visx-demo/src/sandboxes/visx-xychart/Example.tsx
  packages/visx-demo/src/sandboxes/visx-xychart/ExampleControls.tsx
  packages/visx-demo/src/sandboxes/visx-xychart/package.json
  packages/visx-xychart/src/components/series/private/BaseAreaSeries.tsx
  packages/visx-xychart/src/components/series/private/BaseLineSeries.tsx
Labels: @visx/xychart, 🚀enhancement

#915 fix(demo): bump next dep to 9.5.4
  packages/visx-demo/package.json
Labels: @visx/demo, 🏠internal

#916 fix(demo): bump yarn.lock with next@9.5.4
  yarn.lock
Labels: @visx/demo, 🏠internal

#900 test(xychart): add missing data tests
  packages/visx-xychart/src/components/series/private/BaseBarGroup.tsx
  packages/visx-xychart/test/components/BarGroup.test.tsx
  packages/visx-xychart/test/components/BarSeries.test.tsx
  packages/visx-xychart/test/components/BarStack.test.tsx
  packages/visx-xychart/test/components/GlyphSeries.test.tsx
  packages/visx-xychart/test/hooks/useScales.test.tsx
  packages/visx-xychart/test/utils/isDiscreteScale.test.ts
Labels: @visx/xychart, 🏠internal

#902 new(drag): add `useDrag` hook
  packages/visx-demo/src/pages/docs/drag.tsx
  packages/visx-demo/src/sandboxes/visx-drag-i/Example.tsx
  packages/visx-demo/src/sandboxes/visx-drag-ii/Example.tsx
  packages/visx-drag/Readme.md
  packages/visx-drag/package.json
  packages/visx-drag/src/Drag.tsx
  packages/visx-drag/src/index.ts
  packages/visx-drag/src/useDrag.tsx
  packages/visx-drag/src/util/useStateWithCallback.ts
  packages/visx-drag/test/raise.test.ts
  packages/visx-drag/test/useDrag.test.ts
  packages/visx-drag/test/useStateWithCallback.test.ts
Labels: @visx/drag, hooks, 🚀enhancement

#913 new(xychart): make DataProvider optional
  packages/visx-demo/src/sandboxes/visx-xychart/Example.tsx
  packages/visx-xychart/src/components/XYChart.tsx
  packages/visx-xychart/test/components/XYChart.test.tsx
Labels: @visx/xychart, 🚀enhancement

#906 new(drag): allow x,y,dx,dy overrides in useDrag + Drag
  packages/visx-demo/src/sandboxes/visx-drag-i/Example.tsx
  packages/visx-drag/src/Drag.tsx
  packages/visx-drag/src/useDrag.ts
  packages/visx-drag/test/useDrag.test.ts
  packages/visx-drag/test/useDrag.test.tsx
Labels: @visx/drag, 🚀enhancement

#907 new(annotation): add new Annotation components
  packages/visx-annotation/Readme.md
  packages/visx-annotation/package.json
  packages/visx-annotation/src/components/Annotation.tsx
  packages/visx-annotation/src/components/CircleSubject.tsx
  packages/visx-annotation/src/components/Connector.tsx
  packages/visx-annotation/src/components/EditableAnnotation.tsx
  packages/visx-annotation/src/components/Label.tsx
  packages/visx-annotation/src/components/LineSubject.tsx
  packages/visx-annotation/src/context/AnnotationContext.tsx
  packages/visx-annotation/src/deprecated/LinePathAnnotation.tsx
  packages/visx-annotation/src/index.ts
  packages/visx-annotation/src/types/index.ts
  packages/visx-annotation/test/Annotation.test.tsx
  packages/visx-annotation/test/CircleSubject.test.tsx
  packages/visx-annotation/test/Connector.test.tsx
  packages/visx-annotation/test/EditableAnnotation.test.tsx
  packages/visx-annotation/test/Label.test.tsx
  packages/visx-annotation/test/LineSubject.test.tsx
  packages/visx-demo/src/pages/docs/annotation.tsx
Labels: @visx/annotation, 🚀enhancement

#909 new(demo): add Annotation demo
  packages/visx-annotation/Readme.md
  packages/visx-annotation/src/components/Label.tsx
  packages/visx-demo/src/components/Gallery/AnnotationTile.tsx
  packages/visx-demo/src/components/Gallery/index.tsx
  packages/visx-demo/src/pages/annotation.tsx
  packages/visx-demo/src/pages/docs/annotation.tsx
  packages/visx-demo/src/sandboxes/exampleToVisxDependencyLookup.ts
  packages/visx-demo/src/sandboxes/visx-annotation/Example.tsx
  packages/visx-demo/src/sandboxes/visx-annotation/ExampleControls.tsx
  packages/visx-demo/src/sandboxes/visx-annotation/findNearestDatum.ts
  packages/visx-demo/src/sandboxes/visx-annotation/index.tsx
  packages/visx-demo/src/sandboxes/visx-annotation/package.json
  packages/visx-demo/src/sandboxes/visx-annotation/sandbox-styles.css
Labels: @visx/annotation, 🐯example, 📝docs, 🚀enhancement

#912 test(annotation): add tests for new annotation components
  packages/visx-annotation/package.json
  packages/visx-annotation/src/components/Label.tsx
  packages/visx-annotation/test/CircleSubject.test.tsx
  packages/visx-annotation/test/Connector.test.tsx
  packages/visx-annotation/test/EditableAnnotation.test.tsx
  packages/visx-annotation/test/Label.test.tsx
  packages/visx-annotation/test/LineSubject.test.tsx
Labels: @visx/annotation, 🏠internal

#931 add tokenizedbtc to in the wild list
  README.md
Labels: :books: readme

#937 fix(shape): conditionally render Arc without data
  packages/visx-annotation/package.json
  packages/visx-shape/src/shapes/Arc.tsx
  packages/visx-shape/test/Arc.test.tsx
  yarn.lock
Labels: @visx/shape, 🐛bug

#919 new(annotations/EditableAnnotation): add canEditSubject canEditLabel
  packages/visx-annotation/src/components/EditableAnnotation.tsx
  packages/visx-annotation/test/EditableAnnotation.test.tsx
  packages/visx-demo/src/sandboxes/visx-annotation/Example.tsx
  packages/visx-demo/src/sandboxes/visx-annotation/ExampleControls.tsx
Labels: @visx/annotation, 🚀enhancement

#934 new(brush): expose updateBrush method
  packages/visx-brush/src/Brush.tsx
  packages/visx-demo/src/sandboxes/visx-brush/Example.tsx
Labels: @visx/brush, 🚀enhancement

#938 new(xychart): add annotations
  packages/visx-annotation/src/components/CircleSubject.tsx
  packages/visx-annotation/src/components/Connector.tsx
  packages/visx-annotation/src/components/Label.tsx
  packages/visx-annotation/src/index.ts
  packages/visx-demo/src/sandboxes/visx-annotation/ExampleControls.tsx
  packages/visx-demo/src/sandboxes/visx-xychart/Example.tsx
  packages/visx-demo/src/sandboxes/visx-xychart/ExampleControls.tsx
  packages/visx-demo/src/sandboxes/visx-xychart/customTheme.ts
  packages/visx-xychart/package.json
  packages/visx-xychart/src/components/Tooltip.tsx
  packages/visx-xychart/src/components/XYChart.tsx
  packages/visx-xychart/src/components/annotation/AnimatedAnnotation.tsx
  packages/visx-xychart/src/components/annotation/Annotation.tsx
  packages/visx-xychart/src/components/annotation/AnnotationCircleSubject.tsx
  packages/visx-xychart/src/components/annotation/AnnotationConnector.tsx
  packages/visx-xychart/src/components/annotation/AnnotationLabel.tsx
  packages/visx-xychart/src/components/annotation/AnnotationLineSubject.tsx
  packages/visx-xychart/src/components/annotation/private/BaseAnnotation.tsx
  packages/visx-xychart/src/index.ts
  packages/visx-xychart/src/theme/buildChartTheme.ts
  packages/visx-xychart/src/theme/themes/dark.ts
  packages/visx-xychart/src/theme/themes/light.ts
  packages/visx-xychart/src/types/theme.ts
  packages/visx-xychart/test/theme.test.tsx
Labels: @visx/xychart, 🚀enhancement
