Repository airbnb/visx, pull requests merged in 2021-02, with the labels that each got.

#1043 new(visx/visx): export @visx/xychart package
  packages/visx-visx/package.json
  packages/visx-visx/src/index.ts
  packages/visx-visx/test/index.test.ts
Labels: @visx/visx, 🚀enhancement

#1045 new(tooltip, xychart): force update TooltipInPortal bounds
  packages/visx-tooltip/src/hooks/useTooltipInPortal.tsx
  packages/visx-xychart/src/components/Tooltip.tsx
  packages/visx-xychart/test/components/Tooltip.test.tsx
Labels: @visx/tooltip, @visx/xychart, 🐛bug, 🚀enhancement

#1046 type(xychart/BaseAreaSeries): add SVGPathElement props to allowed lineProps
  packages/visx-xychart/src/components/series/private/BaseAreaSeries.tsx
Labels: @visx/xychart, 🐛bug

#1044 new(axis): pass all tick values in tickLabelProps signature
  packages/visx-axis/src/axis/AxisRenderer.tsx
  packages/visx-axis/src/types.ts
  packages/visx-axis/test/Axis.test.tsx
  packages/visx-axis/test/AxisBottom.test.tsx
  packages/visx-axis/test/AxisLeft.test.tsx
  packages/visx-axis/test/AxisRight.test.tsx
  packages/visx-axis/test/AxisTop.test.tsx
  packages/visx-axis/test/Orientation.test.ts
  packages/visx-xychart/src/components/axis/BaseAxis.tsx
Labels: @visx/axis

#1048 github(workflows): add package size checks, add auto demo deploy
  .github/workflows/pull_request.yml
  .github/workflows/push.yml
  package.json
  packages/visx-annotation/package.json
  packages/visx-demo/package.json
  packages/visx-demo/src/sandboxes/visx-axis/Example.tsx
  packages/visx-demo/src/sandboxes/visx-pattern/Example.tsx
  packages/visx-demo/src/sandboxes/visx-xychart/userPrefersReducedMotion.ts
  packages/visx-tooltip/package.json
  scripts/compareBuildSizes.ts
  scripts/computeBuildSizes.ts
  scripts/upsertPullRequestComment.ts
  tsconfig.node.json
  yarn.lock
Labels: 🏠internal

#1007 feat(*): GridRadial, GridAngle & GridPolar
  packages/visx-demo/src/pages/docs/grid.tsx
  packages/visx-demo/src/sandboxes/visx-shape-line-radial/Example.tsx
  packages/visx-demo/src/sandboxes/visx-shape-line-radial/package.json
  packages/visx-grid/package.json
  packages/visx-grid/src/grids/GridAngle.tsx
  packages/visx-grid/src/grids/GridPolar.tsx
  packages/visx-grid/src/grids/GridRadial.tsx
  packages/visx-grid/src/index.ts
  packages/visx-grid/src/utils/polarToCartesian.ts
  packages/visx-grid/test/GridAngle.test.tsx
  packages/visx-grid/test/GridPolar.test.tsx
  packages/visx-grid/test/GridRadial.test.tsx
  packages/visx-grid/test/utils.test.ts
Labels: @visx/grid, 🚀enhancement

#1068 fix(xychart): improve positioning with missing data
  packages/visx-demo/src/sandboxes/visx-xychart/Example.tsx
  packages/visx-xychart/src/components/Tooltip.tsx
Labels: @visx/xychart, 🐛bug

#1072 fix(xychart, annotation): optional dataKey, label styles
  packages/visx-annotation/src/components/Label.tsx
  packages/visx-xychart/src/components/annotation/private/BaseAnnotation.tsx
Labels: @visx/annotation, @visx/xychart, 🐛bug

#1071 new(xychart/BaseAreaSeries): add x/y0Accessor functions to support bands
  packages/visx-xychart/src/components/series/AnimatedAreaSeries.tsx
  packages/visx-xychart/src/components/series/AreaSeries.tsx
  packages/visx-xychart/src/components/series/private/BaseAreaSeries.tsx
  packages/visx-xychart/test/components/AreaSeries.test.tsx
Labels: @visx/xychart, 🚀enhancement

#1078 fix(network): string type in node/linkComponent
  packages/visx-demo/src/sandboxes/visx-network/Example.tsx
  packages/visx-network/src/Graph.tsx
  packages/visx-network/src/Links.tsx
  packages/visx-network/src/Nodes.tsx
Labels: @visx/network, alpha-release, patch-release, 🐛bug

#1088 build(happo): decrease compare threshold
  packages/visx-demo/.happo.js
Labels: 🏠internal
