Repository airbnb/visx, pull requests merged in 2021-07, with the labels that each got.

#1257 fix(zoom): fix provided zoom interface
  packages/visx-zoom/src/types.ts
Labels: @visx/zoom, patch-release, 🐛 bug, 🤖 typescript

#1164 feat(brush): add using widows move events with brush
  packages/visx-brush/package.json
  packages/visx-brush/src/BaseBrush.tsx
  packages/visx-brush/src/Brush.tsx
  packages/visx-brush/src/BrushHandle.tsx
  packages/visx-brush/src/BrushSelection.tsx
  packages/visx-brush/src/types.ts
  packages/visx-brush/src/utils.ts
  packages/visx-demo/src/sandboxes/visx-brush/Example.tsx
  packages/visx-drag/src/Drag.tsx
  packages/visx-drag/src/useDrag.ts
Labels: @visx/brush, @visx/drag, minor-release, 🚀enhancement

#1261 feat(shape): add more segmentation for SplitLinePath
  packages/visx-demo/package.json
  packages/visx-demo/src/components/Gallery/SplitLinePathTile.tsx
  packages/visx-demo/src/pages/splitlinepath.tsx
  packages/visx-demo/src/sandboxes/visx-shape-splitlinepath/Example.tsx
  packages/visx-demo/src/sandboxes/visx-shape-splitlinepath/generateSinPoints.ts
  packages/visx-demo/src/sandboxes/visx-shape-splitlinepath/generateSinSegments.ts
  packages/visx-demo/src/sandboxes/visx-shape-splitlinepath/generateSnakePath.ts
  packages/visx-demo/src/sandboxes/visx-shape-splitlinepath/package.json
  packages/visx-shape/src/shapes/SplitLinePath.tsx
  packages/visx-shape/src/util/getOrCreateMeasurementElement.ts
  packages/visx-shape/src/util/getSplitLineSegments.ts
  yarn.lock
Labels: @visx/shape, minor-release, 🐛 bug, 🚀enhancement

#1259 fix(xychart): support fragment and array type children of stacks/groups
  packages/visx-xychart/src/components/series/private/BaseBarGroup.tsx
  packages/visx-xychart/src/hooks/useStackedData.ts
  packages/visx-xychart/src/typeguards/isChildWithProps.ts
  packages/visx-xychart/src/utils/getChildrenAndGrandchildrenWithProps.ts
Labels: @visx/xychart, patch-release, 🐛 bug

#1211 new(axis): enable customization of tickLineProps
  packages/visx-axis/src/axis/AxisRenderer.tsx
  packages/visx-axis/src/axis/Ticks.tsx
  packages/visx-axis/src/types.ts
  packages/visx-axis/test/Axis.test.tsx
Labels: @visx/axis, @visx/xychart, minor-release, 🚀enhancement

#1281 fix: remove @types/classnames
  packages/visx-annotation/package.json
  packages/visx-axis/package.json
  packages/visx-brush/package.json
  packages/visx-chord/package.json
  packages/visx-demo/package.json
  packages/visx-geo/package.json
  packages/visx-glyph/package.json
  packages/visx-grid/package.json
  packages/visx-group/package.json
  packages/visx-heatmap/package.json
  packages/visx-hierarchy/package.json
  packages/visx-legend/package.json
  packages/visx-marker/package.json
  packages/visx-network/package.json
  packages/visx-pattern/package.json
  packages/visx-react-spring/package.json
  packages/visx-shape/package.json
  packages/visx-stats/package.json
  packages/visx-text/package.json
  packages/visx-threshold/package.json
  packages/visx-tooltip/package.json
  packages/visx-voronoi/package.json
  packages/visx-xychart/package.json
  yarn.lock
Labels: @visx/annotation, @visx/axis, @visx/brush, @visx/chord, @visx/demo, @visx/geo, @visx/grid, @visx/group, @visx/heatmap, @visx/hierarchy, @visx/legend, @visx/marker, @visx/network, @visx/pattern, @visx/react-spring, @visx/shape, @visx/stats, @visx/text, @visx/tooltip, @visx/voronoi, @visx/xychart, patch-release, 🐛 bug, 🤖 typescript

#1255 new(xychart/tooltip): add renderGlyph property
  README.md
  package.json
  packages/visx-demo/src/sandboxes/visx-xychart/Example.tsx
  packages/visx-demo/src/sandboxes/visx-xychart/ExampleControls.tsx
  packages/visx-xychart/src/components/Tooltip.tsx
Labels: @visx/xychart, minor-release, 🚀enhancement

#1286 fix(brush, drag): call start callbacks consistently, support mobile
  packages/visx-brush/src/BaseBrush.tsx
  packages/visx-brush/src/BrushCorner.tsx
  packages/visx-brush/src/BrushHandle.tsx
  packages/visx-brush/src/BrushSelection.tsx
  packages/visx-drag/src/Drag.tsx
Labels: @visx/brush, @visx/drag, patch-release, 🐛 bug

#1277 deps: update to react-spring@9
  packages/visx-demo/package.json
  packages/visx-demo/src/sandboxes/visx-axis/package.json
  packages/visx-demo/src/sandboxes/visx-shape-line-radial/package.json
  packages/visx-demo/src/sandboxes/visx-shape-pie/Example.tsx
  packages/visx-demo/src/sandboxes/visx-shape-pie/package.json
  packages/visx-demo/src/sandboxes/visx-streamgraph/Example.tsx
  packages/visx-demo/src/sandboxes/visx-streamgraph/package.json
  packages/visx-demo/src/sandboxes/visx-xychart/package.json
  packages/visx-react-spring/package.json
  packages/visx-react-spring/src/axis/AnimatedTicks.tsx
  packages/visx-react-spring/src/grid/AnimatedGridLines.tsx
  packages/visx-react-spring/src/spring-configs/useLineTransitionConfig.ts
  packages/visx-xychart/package.json
  packages/visx-xychart/src/components/annotation/AnimatedAnnotation.tsx
  packages/visx-xychart/src/components/grid/AnimatedGrid.tsx
  packages/visx-xychart/src/components/series/AnimatedGlyphSeries.tsx
  packages/visx-xychart/src/components/series/private/AnimatedBars.tsx
  packages/visx-xychart/src/components/series/private/AnimatedGlyphs.tsx
  packages/visx-xychart/src/components/series/private/AnimatedPath.tsx
  yarn.lock
Labels: :boom: breaking changes, @visx/demo, @visx/react-spring, @visx/xychart, alpha-release, major-release, 🚀enhancement
