Repository airbnb/visx, pull requests merged in 2021-05, with the labels that each got.

#1175 fix(@visx/text) Bad size measurements in Firefox
  packages/visx-annotation/src/components/Label.tsx
  packages/visx-text/src/Text.tsx
  packages/visx-text/src/types.ts
Labels: @visx/annotation, @visx/text, @visx/xychart, 🐛bug

#1195 Update push.yml
  .github/workflows/push.yml
Labels: minor-release

#1208 fix(responsive): don't call resize.cancel if we never initialised
  packages/visx-responsive/src/components/ParentSize.tsx
Labels: @visx/responsive, 🐛bug

#1209 Update pull_request.yml
  .github/workflows/pull_request.yml
Labels: patch-release

#1180 new(@visx/zoom): adjust drag move to take optional offset
  packages/visx-zoom/src/Zoom.tsx
Labels: @visx/zoom, minor-release, 🐛bug, 🚀enhancement

#1212 docs(shape): fix docs fror BarGroup, BarGroupHorizontal, and BarStack
  packages/visx-shape/src/shapes/BarGroup.tsx
  packages/visx-shape/src/shapes/BarGroupHorizontal.tsx
  packages/visx-shape/src/shapes/BarStack.tsx
Labels: @visx/shape, 📝docs

#1219 fix(scale): upgrade d3-time to v2.4 for d3-scale compatibility
  packages/visx-scale/package.json
  yarn.lock
Labels: @visx/scale, patch-release, 🐛bug

#1213 fix(xychart/Tooltip): bail early when tooltip is closed
  packages/visx-xychart/src/components/Tooltip.tsx
Labels: @visx/xychart, patch-release, 🐛bug
