Repository airbnb/visx, pull requests merged in 2021-04, with the labels that each got.

#1135 fix(xychart): onPointerUp fires twice
  packages/visx-xychart/src/components/XYChart.tsx
Labels: @visx/xychart, patch-release, 🐛bug

#1155 fix(brush): use PointerEvents instead of MouseEvents
  packages/visx-brush/src/BaseBrush.tsx
  packages/visx-brush/src/BrushHandle.tsx
  packages/visx-brush/src/BrushSelection.tsx
  packages/visx-drag/src/Drag.tsx
Labels: @visx/brush, patch-release, 🐛bug

#1156 new(shape/Polygon): add optional 'points' override
  packages/visx-shape/src/shapes/Polygon.tsx
Labels: @visx/shape, minor-release, 🚀enhancement

#1170 development(contributing): update docs to rebuild single packages
  CONTRIBUTING.md
  package.json
Labels: ✨development, 📝docs

#1127 fix(visx/annotation) Improve label positioning, add maxWidth
  packages/visx-annotation/src/components/Label.tsx
Labels: @visx/annotation, minor-release, 🐛bug, 🚀enhancement

#1181 fix(grid,xychart): account for scale bandwidth in offsets
  packages/visx-grid/src/grids/GridColumns.tsx
  packages/visx-grid/src/grids/GridRows.tsx
  packages/visx-grid/src/utils/getScaleBandwidth.ts
  packages/visx-grid/test/utils.test.ts
Labels: @visx/grid, @visx/xychart, patch-release, 🐛bug
