Repository airbnb/visx, pull requests merged in 2021-03, with the labels that each got.

#1094 fix(xychart/Axis): export AxisScale type, set default Scale generic
  packages/visx-xychart/src/components/axis/Axis.tsx
  packages/visx-xychart/src/types/axis.ts
  packages/visx-xychart/src/types/index.ts
Labels: @visx/xychart, patch-release, 🐛bug

#1073 new(workflows/push): automate releases
  .github/workflows/pull_request.yml
  .github/workflows/push.yml
  .npmrc
  lerna.json
  package.json
  scripts/compareBuildSizes.ts
  scripts/performRelease/constants.ts
  scripts/performRelease/fetchCommitsSinceTag.ts
  scripts/performRelease/fetchPRsForCommits.ts
  scripts/performRelease/fetchTags.ts
  scripts/performRelease/index.ts
  scripts/performRelease/performLernaRelease.ts
  scripts/performRelease/postReleaseOnPrs.ts
  scripts/performRelease/types.ts
  scripts/performRelease/updateChangelog/getChangelogAddition.ts
  scripts/performRelease/updateChangelog/index.ts
  scripts/performRelease/updateChangelog/mergeUpdateIntoChangelog.ts
  scripts/utils/getGitHubClient.ts
  scripts/utils/getPullRequestNumber.ts
  scripts/utils/getRepoContext.ts
  scripts/utils/upsertPullRequestComment.ts
Labels: 🏠internal

#1102 fix(xychart/Tooltip): don't render glyph for null data
  packages/visx-xychart/src/components/Tooltip.tsx
  packages/visx-xychart/test/components/Tooltip.test.tsx
Labels: @visx/xychart, 🐛bug

#1103 deps(lerna): bump to 3.22.0
  lerna.json
  package.json
  yarn.lock
Labels: 🏠internal

#1105 fix(shape, xychart): default LinePath strokeLinecap to round
  packages/visx-shape/src/shapes/LinePath.tsx
  packages/visx-shape/test/LinePath.test.tsx
  packages/visx-xychart/src/components/series/private/BaseAreaSeries.tsx
  packages/visx-xychart/src/components/series/private/BaseLineSeries.tsx
  packages/visx-xychart/test/components/AreaSeries.test.tsx
  packages/visx-xychart/test/components/LineSeries.test.tsx
Labels: @visx/shape, @visx/xychart, 🐛bug

#1106 Export types in @visx/text
  packages/visx-text/src/index.ts
Labels: @visx/text, minor-release, 🚀enhancement, 🤖 typescript

#1107 internal(workflows/release): add next dist-tag, fix lerna releases
  .github/workflows/push.yml
  scripts/performRelease/performLernaRelease.ts
Labels: alpha-release, 🏠internal

#1108 fix(workflows/push): fix yaml syntax
  .github/workflows/push.yml
Labels: 🏠internal

#1112 fix(xychart/TooltipProvider): handles NaNs in nearestDatum logic
  packages/visx-xychart/src/providers/TooltipProvider.tsx
  packages/visx-xychart/test/providers/TooltipProvider.test.tsx
Labels: @visx/xychart, patch-release, 🐛bug

#1113 fix(scripts/performRelease): add comment, fix typo
  scripts/performRelease/index.ts
  scripts/performRelease/performLernaRelease.ts
Labels: 🏠internal

#1116 fix(tooltip, annotation): bump react-use-measure to ^2.0.4. fixes #1091
  packages/visx-annotation/package.json
  packages/visx-tooltip/package.json
  yarn.lock
Labels: @visx/annotation, @visx/tooltip, patch-release, 🐛bug

#1115 docs: Add Pry to In the Wild list
  README.md
Labels: 📝docs
