Repository airbnb/visx, pull requests merged in 2021-08, with the labels that each got.

#1310 fix(scripts/performRelease): fix alpha release logic
  lerna.json
  packages/visx-annotation/package.json
  packages/visx-axis/package.json
  packages/visx-bounds/package.json
  packages/visx-brush/package.json
  packages/visx-chord/package.json
  packages/visx-clip-path/package.json
  packages/visx-demo/package.json
  packages/visx-drag/package.json
  packages/visx-geo/package.json
  packages/visx-glyph/package.json
  packages/visx-gradient/package.json
  packages/visx-grid/package.json
  packages/visx-group/package.json
  packages/visx-heatmap/package.json
  packages/visx-hierarchy/package.json
  packages/visx-legend/package.json
  packages/visx-marker/package.json
  packages/visx-network/package.json
  packages/visx-pattern/package.json
  packages/visx-react-spring/package.json
  packages/visx-responsive/package.json
  packages/visx-shape/package.json
  packages/visx-stats/package.json
  packages/visx-text/package.json
  packages/visx-threshold/package.json
  packages/visx-tooltip/package.json
  packages/visx-visx/package.json
  packages/visx-voronoi/package.json
  packages/visx-xychart/package.json
  packages/visx-zoom/package.json
  scripts/performRelease/index.ts
Labels: 🐛 bug, 🏠 internal, patch-release, alpha-release

#1305 new(zoom): add pinch and zoom support
  package.json
  packages/visx-demo/src/sandboxes/visx-geo-custom/Example.tsx
  packages/visx-demo/src/sandboxes/visx-zoom-i/Example.tsx
  packages/visx-zoom/package.json
  packages/visx-zoom/src/Zoom.tsx
  packages/visx-zoom/src/types.ts
  packages/visx-zoom/test/Zoom.test.tsx
  yarn.lock
Labels: 🚀enhancement, @visx/zoom, patch-release, alpha-release

#1314 new(demo/geo-albers/usa): use all 4 colors in the map
  packages/visx-demo/src/sandboxes/visx-geo-albers-usa/Example.tsx
Labels: 🚀enhancement, 🐯 example, @visx/demo

#1311 new(wordcloud): add @visx/wordcloud
  packages/visx-demo/package.json
  packages/visx-demo/src/components/Gallery/WordcloudTile.tsx
  packages/visx-demo/src/components/Gallery/index.tsx
  packages/visx-demo/src/components/PackageList.tsx
  packages/visx-demo/src/pages/docs/wordcloud.tsx
  packages/visx-demo/src/pages/wordcloud.tsx
  packages/visx-demo/src/sandboxes/exampleToVisxDependencyLookup.ts
  packages/visx-demo/src/sandboxes/visx-wordcloud/Example.tsx
  packages/visx-demo/src/sandboxes/visx-wordcloud/index.tsx
  packages/visx-demo/src/sandboxes/visx-wordcloud/package.json
  packages/visx-demo/src/sandboxes/visx-wordcloud/sandbox-styles.css
  packages/visx-demo/src/sandboxes/visx-wordcloud/text.fixture.ts
  packages/visx-demo/src/types/index.ts
  packages/visx-visx/package.json
  packages/visx-visx/src/index.ts
  packages/visx-visx/test/index.test.ts
  packages/visx-wordcloud/.npmrc
  packages/visx-wordcloud/Readme.md
  packages/visx-wordcloud/package.json
  packages/visx-wordcloud/src/Wordcloud.tsx
  packages/visx-wordcloud/src/index.ts
  packages/visx-wordcloud/src/types.ts
  packages/visx-wordcloud/src/useWordcloud.ts
  packages/visx-wordcloud/test/Wordcloud.test.tsx
  packages/visx-wordcloud/test/useWordcloud.test.ts
  yarn.lock
Labels: 🚀enhancement, @visx/visx, minor-release, @visx/wordcloud
