Repository airbnb/visx, pull requests merged in 2021-01, with the labels that each got.

#987 Fix scale options in xychart
  packages/visx-xychart/src/hooks/useScales.ts
Labels: @visx/xychart, 🐛bug

#993 fix(stats): passing value 0 to valueScale
  packages/visx-stats/src/BoxPlot.tsx
Labels: @visx/stats, 🐛bug

#989 fix(annotation/Label): fix doc types and padding
  packages/visx-annotation/src/components/Label.tsx
  packages/visx-demo/src/sandboxes/visx-annotation/ExampleControls.tsx
Labels: @visx/annotation, 🐛bug

#997 fix(xychart/Tooltip): enable style overflow in crosshairs
  packages/visx-xychart/src/components/Tooltip.tsx
Labels: @visx/xychart, 🐛bug

#1008 fix(xychart): include zero in scale domains by default
  packages/visx-scale/src/index.ts
  packages/visx-scale/src/utils/scaleCanBeZeroed.ts
  packages/visx-scale/test/utils/getTicks.test.ts
  packages/visx-scale/test/utils/scaleCanBeZeroed.test.ts
  packages/visx-xychart/src/components/XYChart.tsx
  packages/visx-xychart/src/hooks/useScales.ts
  packages/visx-xychart/src/providers/DataProvider.tsx
Labels: @visx/xychart, 🐛bug, 🚀enhancement

#1005 new(xychart): add colorAccessor to relevant series
  packages/visx-demo/src/sandboxes/visx-xychart/Example.tsx
  packages/visx-demo/src/sandboxes/visx-xychart/ExampleControls.tsx
  packages/visx-xychart/src/components/series/AnimatedBarSeries.tsx
  packages/visx-xychart/src/components/series/BarSeries.tsx
  packages/visx-xychart/src/components/series/private/AnimatedBars.tsx
  packages/visx-xychart/src/components/series/private/AnimatedGlyphs.tsx
  packages/visx-xychart/src/components/series/private/BaseBarGroup.tsx
  packages/visx-xychart/src/components/series/private/BaseBarSeries.tsx
  packages/visx-xychart/src/components/series/private/BaseBarStack.tsx
  packages/visx-xychart/src/components/series/private/BaseGlyphSeries.tsx
  packages/visx-xychart/src/utils/cleanColorString.ts
  packages/visx-xychart/test/components/BarGroup.test.tsx
  packages/visx-xychart/test/components/BarSeries.test.tsx
  packages/visx-xychart/test/components/BarStack.test.tsx
  packages/visx-xychart/test/components/GlyphSeries.test.tsx
  packages/visx-xychart/test/utils/cleanColorString.test.ts
Labels: @visx/xychart, 📝docs, 🚀enhancement

#1013 (CODE_OF_CODUCT): sync with Airbnb
  CODE_OF_CONDUCT.md
Labels: 📝docs

#1018 fix(demo/barstack): improve Tooltip positioning logic
  packages/visx-demo/src/sandboxes/visx-barstack/Example.tsx
  packages/visx-demo/src/sandboxes/visx-barstack/package.json
Labels: 🐛bug, 🐯example, 📝docs

#1010 Update: Readme - In the wild - eft.monster
  README.md
Labels: :books: readme

#1033 new(mock-data, demo): add stable randomness
  packages/visx-demo/src/sandboxes/visx-axis/Example.tsx
  packages/visx-demo/src/sandboxes/visx-curve/Example.tsx
  packages/visx-demo/src/sandboxes/visx-dots/Example.tsx
  packages/visx-demo/src/sandboxes/visx-drag-i/generateCircles.ts
  packages/visx-demo/src/sandboxes/visx-drag-i/package.json
  packages/visx-demo/src/sandboxes/visx-glyph/Example.tsx
  packages/visx-demo/src/sandboxes/visx-heatmap/Example.tsx
  packages/visx-demo/src/sandboxes/visx-responsive/Lines.tsx
  packages/visx-demo/src/sandboxes/visx-stats/Example.tsx
  packages/visx-demo/src/sandboxes/visx-streamgraph/generateData.ts
  packages/visx-demo/src/sandboxes/visx-streamgraph/package.json
  packages/visx-demo/src/sandboxes/visx-voronoi/Example.tsx
  packages/visx-demo/src/sandboxes/visx-voronoi/package.json
  packages/visx-demo/src/sandboxes/visx-zoom-i/Example.tsx
  packages/visx-mock-data/package.json
  packages/visx-mock-data/src/generators/genDateValue.ts
  packages/visx-mock-data/src/generators/genRandomNormalPoints.ts
  packages/visx-mock-data/src/generators/genStats.ts
  packages/visx-mock-data/src/generators/getSeededRandom.ts
  packages/visx-mock-data/src/index.ts
  packages/visx-mock-data/test/genBin.test.ts
  packages/visx-mock-data/test/genBins.test.ts
  packages/visx-mock-data/test/genDateValue.test.ts
  packages/visx-mock-data/test/genRandomNormalPoints.test.ts
  packages/visx-mock-data/test/genStats.test.ts
  packages/visx-mock-data/test/getSeededRandom.test.ts
  yarn.lock
Labels: @visx/demo, @visx/mock-data, 🏠internal, 🚀enhancement, 🧪 testing

#1030 test(happo): add Happo for screenshot testing
  .github/workflows/ci.yml
  packages/visx-demo/.happo-variables.js
  packages/visx-demo/.happo.js
  packages/visx-demo/happo/gallery.tsx
  packages/visx-demo/package.json
  packages/visx-demo/src/components/Gallery/AnnotationTile.tsx
  packages/visx-demo/src/components/Gallery/SplitLinePathTile.tsx
  packages/visx-demo/src/components/Gallery/TextTile.tsx
  packages/visx-demo/src/components/Gallery/index.tsx
  packages/visx-demo/src/sandboxes/visx-annotation/Example.tsx
  packages/visx-demo/src/sandboxes/visx-annotation/package.json
  packages/visx-demo/src/sandboxes/visx-axis/Example.tsx
  packages/visx-demo/src/sandboxes/visx-curve/Example.tsx
  packages/visx-demo/src/sandboxes/visx-dots/Example.tsx
  packages/visx-demo/src/sandboxes/visx-drag-i/generateCircles.ts
  packages/visx-demo/src/sandboxes/visx-drag-i/package.json
  packages/visx-demo/src/sandboxes/visx-glyph/Example.tsx
  packages/visx-demo/src/sandboxes/visx-glyph/package.json
  packages/visx-demo/src/sandboxes/visx-heatmap/Example.tsx
  packages/visx-demo/src/sandboxes/visx-legend/package.json
  packages/visx-demo/src/sandboxes/visx-pattern/package.json
  packages/visx-demo/src/sandboxes/visx-responsive/Lines.tsx
  packages/visx-demo/src/sandboxes/visx-stats/Example.tsx
  packages/visx-demo/src/sandboxes/visx-streamgraph/generateData.ts
  packages/visx-demo/src/sandboxes/visx-streamgraph/package.json
  packages/visx-demo/src/sandboxes/visx-voronoi/Example.tsx
  packages/visx-demo/src/sandboxes/visx-voronoi/package.json
  packages/visx-demo/src/sandboxes/visx-zoom-i/Example.tsx
  packages/visx-mock-data/package.json
  packages/visx-mock-data/src/generators/genDateValue.ts
  packages/visx-mock-data/src/generators/genRandomNormalPoints.ts
  packages/visx-mock-data/src/generators/genStats.ts
  packages/visx-mock-data/src/generators/getSeededRandom.ts
  packages/visx-mock-data/src/index.ts
  packages/visx-mock-data/test/genBin.test.ts
  packages/visx-mock-data/test/genBins.test.ts
  packages/visx-mock-data/test/genDateValue.test.ts
  packages/visx-mock-data/test/genRandomNormalPoints.test.ts
  packages/visx-mock-data/test/genStats.test.ts
  packages/visx-mock-data/test/getSeededRandom.test.ts
  yarn.lock
Labels: ✨development, 🏠internal, 🧪 testing

#1020 new(demo/xychart): add AreaStack, add stackOffset variable for stacks
  packages/visx-demo/src/sandboxes/visx-xychart/Example.tsx
  packages/visx-demo/src/sandboxes/visx-xychart/ExampleControls.tsx
Labels: @visx/xychart, 🚀enhancement

#1037 new(demo): respect prefersReducedMotion and leverage in happo
  packages/visx-demo/.happo.js
  packages/visx-demo/happo/gallery.tsx
  packages/visx-demo/src/sandboxes/visx-axis/Example.tsx
  packages/visx-demo/src/sandboxes/visx-pattern/Example.tsx
  packages/visx-demo/src/sandboxes/visx-xychart/Example.tsx
  packages/visx-demo/src/sandboxes/visx-xychart/ExampleControls.tsx
  packages/visx-demo/src/sandboxes/visx-xychart/getAnimatedOrUnanimatedComponents.ts
  packages/visx-demo/src/sandboxes/visx-xychart/userPrefersReducedMotion.ts
Labels: @visx/demo, 🏠internal, 📝docs, 🧪 testing
