Repository airbnb/visx, pull requests merged in 2021-06, with the labels that each got.

#1225 new(shape): support dynamic fill directly in Pie
  packages/visx-shape/src/shapes/Pie.tsx
  packages/visx-shape/test/Pie.test.tsx
Labels: @visx/shape, minor-release, 🚀enhancement

#1232 docs(xychart): fix typos
  packages/visx-xychart/README.md
  packages/visx-xychart/src/components/XYChart.tsx
Labels: @visx/xychart, 📝docs

#1236 new(geo): pass projection to child override, add U.S.A. demo
  packages/visx-demo/src/components/Gallery/GeoAlbersUsaTile.tsx
  packages/visx-demo/src/components/Gallery/GeoCustomTile.tsx
  packages/visx-demo/src/components/Gallery/GeoMercatorTile.tsx
  packages/visx-demo/src/components/Gallery/index.tsx
  packages/visx-demo/src/pages/docs/geo.tsx
  packages/visx-demo/src/pages/geo-albers-usa.tsx
  packages/visx-demo/src/sandboxes/visx-geo-albers-usa/Example.tsx
  packages/visx-demo/src/sandboxes/visx-geo-albers-usa/index.tsx
  packages/visx-demo/src/sandboxes/visx-geo-albers-usa/package.json
  packages/visx-demo/src/sandboxes/visx-geo-albers-usa/sandbox-styles.css
  packages/visx-demo/src/sandboxes/visx-geo-albers-usa/us-abbr.json
  packages/visx-demo/src/sandboxes/visx-geo-albers-usa/usa-topo.d.ts
  packages/visx-demo/src/sandboxes/visx-geo-albers-usa/usa-topo.json
  packages/visx-geo/src/projections/Projection.tsx
Labels: @visx/geo, minor-release, 🐛bug, 🚀enhancement

#1251 build: skip release workflow when in forked repo
  .github/workflows/push.yml
Labels: 🏠internal, 🐛bug

#1254 build: run happo on push
  .github/workflows/push.yml
Labels: 🏠internal

#1252 feat(scale): support rounding for symlog
  packages/visx-scale/package.json
  packages/visx-scale/src/scales/symlog.ts
  packages/visx-scale/src/types/ScaleConfig.ts
  packages/visx-scale/test/scaleSymlog.test.ts
  yarn.lock
Labels: @visx/scale, 🚀enhancement

#1228 feat(animatedaxis): add tickComponent support (#977)
  packages/visx-react-spring/src/axis/AnimatedAxis.tsx
  packages/visx-react-spring/src/axis/AnimatedTicks.tsx
  packages/visx-react-spring/test/AnimatedTicks.test.tsx
Labels: @visx/react-spring, minor-release, 🚀enhancement

#1256 Add Data 2 the People to In the Wild list
  README.md
Labels: 📝docs
