Repository airbnb/visx, pull requests merged in 2021-11, with the labels that each got.

#1362 new(text): Add 'shrink-only' option to 'scaleToFit'
  packages/visx-text/src/hooks/useText.ts
  packages/visx-text/src/types.ts
  packages/visx-text/test/Text.test.tsx
Labels: 🚀enhancement, @visx/text, minor-release

#1294 new(xychart): distinguish nearestDatum in renderGlyph
  packages/visx-demo/src/sandboxes/visx-xychart/ExampleControls.tsx
  packages/visx-xychart/src/components/Tooltip.tsx
Labels: 🚀enhancement, @visx/xychart

#1097 new(shape/BarRounded): export useBarRounded, support render functions
  packages/visx-shape/src/shapes/BarRounded.tsx
  packages/visx-shape/test/BarRounded.test.tsx
Labels: 🚀enhancement, @visx/shape

#1372 Update Readme.md
  packages/visx-marker/Readme.md
Labels: 🐛 bug, 📝 docs

#1098 new(xychart/BarSeries,BarGroup,BarStack): add support for bar radius
  packages/visx-xychart/src/components/series/private/AnimatedBars.tsx
  packages/visx-xychart/src/components/series/private/AnimatedPath.tsx
  packages/visx-xychart/src/components/series/private/Bars.tsx
  packages/visx-xychart/src/components/series/private/BaseBarGroup.tsx
  packages/visx-xychart/src/components/series/private/BaseBarSeries.tsx
  packages/visx-xychart/src/components/series/private/BaseBarStack.tsx
  packages/visx-xychart/src/types/series.ts
  packages/visx-xychart/test/components/BarGroup.test.tsx
  packages/visx-xychart/test/components/BarSeries.test.tsx
  packages/visx-xychart/test/components/BarStack.test.tsx
Labels: 🚀enhancement, @visx/xychart, minor-release

#1370 fix(responsive): fix shallow equality check on default array value for ParentSize
  packages/visx-responsive/src/components/ParentSize.tsx
  packages/visx-responsive/src/components/ParentSizeModern.tsx
Labels: 🐛 bug, @visx/responsive, patch-release

#1368 new(drag): add options to restrict <Drag> area and control snapToPointer behaviour
  packages/visx-drag/src/Drag.tsx
  packages/visx-drag/src/useDrag.ts
  packages/visx-drag/src/util/clampNumber.ts
Labels: 🚀enhancement, @visx/drag, minor-release
