Repository airbnb/visx, pull requests merged in 2022-01, with the labels that each got.

#1397 Removed $ sign from Usage in Readme
  README.md
Labels: 📝 docs

#1379 new(drag): Add restrictToPath as a Drag parameter
  packages/visx-drag/package.json
  packages/visx-drag/src/Drag.tsx
  packages/visx-drag/src/useDrag.ts
  packages/visx-drag/src/util/getClosestPoint.ts
  packages/visx-drag/src/util/restrictPoint.ts
  packages/visx-drag/src/util/useSamplesAlongPath.ts
  packages/visx-point/src/index.ts
  packages/visx-point/src/subtractPoints.ts
  packages/visx-point/src/sumPoints.ts
Labels: 🚀enhancement, @visx/drag, minor-release

#1420 fix(zoom): avoid 2x scale invocations on wheel end
  packages/visx-zoom/src/Zoom.tsx
Labels: 🐛 bug, @visx/zoom, patch-release

#1383 Annotation label <foreignobject> render
  packages/visx-annotation/src/components/HtmlLabel.tsx
  packages/visx-annotation/src/components/Label.tsx
  packages/visx-annotation/src/components/LabelAnchorLine.tsx
  packages/visx-annotation/src/index.ts
  packages/visx-annotation/test/Label.test.tsx
  packages/visx-demo/src/pages/docs/annotation.tsx
Labels: 🚀enhancement, @visx/annotation, minor-release

#1423 fix(responsive): remove global ResizeObserver type declaration
  packages/visx-responsive/src/components/ParentSizeModern.tsx
  packages/visx-responsive/src/enhancers/withParentSizeModern.tsx
  packages/visx-responsive/src/types/index.ts
Labels: 🤖 typescript, @visx/responsive, patch-release

#1422 deps: replace resize-observer-polyfill with @juggle/resize-observer
  packages/visx-annotation/package.json
  packages/visx-annotation/test/Label.test.tsx
  packages/visx-responsive/package.json
  packages/visx-responsive/src/components/ParentSize.tsx
  packages/visx-responsive/src/enhancers/withParentSize.tsx
  packages/visx-tooltip/package.json
  packages/visx-tooltip/test/useTooltipInPortal.test.tsx
  packages/visx-xychart/package.json
  packages/visx-xychart/test/components/Tooltip.test.tsx
  yarn.lock
Labels: 🏠 internal, 🤖 typescript, @visx/annotation, @visx/responsive, @visx/tooltip, @visx/xychart, minor-release

#1424 new(annotation): add HtmlLabel demo, add containterStyle prop
  packages/visx-annotation/src/components/HtmlLabel.tsx
  packages/visx-annotation/test/HtmlLabel.test.tsx
  packages/visx-demo/src/pages/annotation.tsx
  packages/visx-demo/src/sandboxes/visx-annotation/Example.tsx
  packages/visx-demo/src/sandboxes/visx-annotation/ExampleControls.tsx
Labels: 🚀enhancement, 🏠 internal, 📝 docs, @visx/annotation, minor-release
