Repository airbnb/visx, pull requests merged in 2022-04, with the labels that each got.

#1460 fix(xychart): fix typo
  packages/visx-demo/src/sandboxes/visx-xychart/ExampleControls.tsx
  packages/visx-xychart/src/components/Tooltip.tsx
Labels: 🐛 bug, @visx/xychart, patch-release

#1485 fix(xychart, react-spring): fix duplicate key warning in Axis/Grid
  packages/visx-grid/src/grids/GridColumns.tsx
  packages/visx-grid/src/grids/GridRows.tsx
  packages/visx-grid/src/types.ts
  packages/visx-react-spring/src/axis/AnimatedTicks.tsx
  packages/visx-react-spring/src/grid/AnimatedGridColumns.tsx
  packages/visx-react-spring/src/grid/AnimatedGridRows.tsx
Labels: 🐛 bug, @visx/grid, @visx/react-spring, @visx/xychart, patch-release

#1486 docs: add WHO in the wild
  README.md
Labels: 📝 docs
