Repository airbnb/visx, pull requests merged in 2022-06, with the labels that each got.

#1522 fix(brush): vertical brush with useWindowMoveEvents
  packages/visx-brush/src/BaseBrush.tsx
Labels: 🐛 bug, @visx/brush, patch-release

#1440 feat(xychart): support onPointerDown event
  packages/visx-xychart/README.md
  packages/visx-xychart/src/components/XYChart.tsx
  packages/visx-xychart/src/components/series/private/BaseAreaSeries.tsx
  packages/visx-xychart/src/components/series/private/BaseAreaStack.tsx
  packages/visx-xychart/src/components/series/private/BaseBarGroup.tsx
  packages/visx-xychart/src/components/series/private/BaseBarSeries.tsx
  packages/visx-xychart/src/components/series/private/BaseBarStack.tsx
  packages/visx-xychart/src/components/series/private/BaseGlyphSeries.tsx
  packages/visx-xychart/src/components/series/private/BaseLineSeries.tsx
  packages/visx-xychart/src/hooks/useEventEmitter.ts
  packages/visx-xychart/src/hooks/useEventEmitters.ts
  packages/visx-xychart/src/hooks/useEventHandlers.ts
  packages/visx-xychart/src/hooks/useSeriesEvents.ts
  packages/visx-xychart/src/types/series.ts
  packages/visx-xychart/test/hooks/useEventEmitters.test.tsx
Labels: 🚀enhancement, @visx/xychart, minor-release

#1531 fix(demo,shape): fix SplitLinePath key
  packages/visx-demo/src/sandboxes/visx-shape-splitlinepath/Example.tsx
  packages/visx-shape/src/shapes/SplitLinePath.tsx
Labels: 🐛 bug, @visx/demo, @visx/shape, patch-release
