Repository airbnb/visx, pull requests merged in 2022-10, with the labels that each got.

#1574 feat(axis): add an ability to specify different paddings for the start and the end of the axis
  packages/visx-axis/src/axis/Axis.tsx
  packages/visx-axis/src/types.ts
  packages/visx-axis/src/utils/getAxisRangePaddingConfig.ts
  packages/visx-axis/test/utils/getAxisRangePaddingConfig.test.ts
Labels: 🚀enhancement, @visx/axis, minor-release

#1355 new(tooltip): provide isFlippedVertically and isFlippedHorizontally context
  packages/visx-tooltip/src/context/TooltipPositionContext.tsx
  packages/visx-tooltip/src/index.ts
  packages/visx-tooltip/src/tooltips/TooltipWithBounds.tsx
Labels: 🚀enhancement, @visx/tooltip, minor-release

#1582 fix(mock-data): add missing bitcoinPrice to index.ts
  packages/visx-mock-data/src/index.ts
Labels: 🐛 bug, @visx/mock-data, patch-release

#1583 fix(tooltip, bounds): replace findDOMNode with refs for TooltipWithBounds
  packages/visx-bounds/src/enhancers/withBoundingRects.tsx
  packages/visx-tooltip/src/tooltips/Tooltip.tsx
  packages/visx-tooltip/src/tooltips/TooltipWithBounds.tsx
Labels: 🐛 bug, @visx/bounds, @visx/tooltip, minor-release

#1585 internal(github-actions): add github release script
  scripts/performRelease/createGithubRelease.ts
  scripts/performRelease/index.ts
Labels: 🏠 internal

#1594 docs(xychart): fix typo
  packages/visx-xychart/README.md
Labels: 📝 docs, @visx/xychart, :books: readme
