Repository airbnb/visx, pull requests merged in 2023-10, with the labels that each got.

#1749 feat(axis): Expose innerRef prop on the various Axis components
  packages/visx-axis/src/axis/Axis.tsx
  packages/visx-axis/src/types.ts
  packages/visx-axis/test/Axis.test.tsx
Labels: 🚀enhancement, @visx/axis, minor-release

#1762 visx-axis AxisRenderer.tsx: resolve circular dependency
  packages/visx-axis/src/axis/AxisRenderer.tsx
Labels: 🐛 bug, @visx/axis, patch-release

#1765 Add to "In the wild"
  README.md
Labels: 📝 docs
