Repository airbnb/visx, pull requests merged in 2023-06, with the labels that each got.

#1718 add @visx/vendor
  package.json
  packages/visx-scale/package.json
  packages/visx-scale/src/operators/interpolate.ts
  packages/visx-vendor/.gitignore
  packages/visx-vendor/Readme.md
  packages/visx-vendor/package.json
  packages/visx-vendor/scripts/buildVendor/babel.config.js
  packages/visx-vendor/scripts/buildVendor/index.ts
  packages/visx-vendor/scripts/buildVendor/utils.ts
  packages/visx-vendor/test/.eslintrc
  packages/visx-vendor/test/d3-array.test.ts
  packages/visx-vendor/test/d3-color.test.ts
  packages/visx-vendor/test/d3-format.test.ts
  packages/visx-vendor/test/d3-interpolate.test.ts
  packages/visx-vendor/test/d3-scale.test.ts
  packages/visx-vendor/test/d3-time-format.test.ts
  packages/visx-vendor/test/d3-time.test.ts
  packages/visx-vendor/test/internmap.test.ts
  tsconfig.eslint.json
  tsconfig.node.json
  yarn.lock
Labels: 🏠 internal, @visx/vendor

#1686 fix(xychart): extra space in version definition, that prevents 18.2.0 version t…
  packages/visx-xychart/package.json
Labels: 🐛 bug, @visx/xychart, patch-release

#1714 docs(xychart): fix typo
  packages/visx-demo/src/sandboxes/visx-xychart/ExampleControls.tsx
Labels: 🐛 bug, 📝 docs, @visx/xychart

#1722 github: update @octokit/openapi-types to fix release script
  package.json
  scripts/performRelease/performLernaRelease.ts
  scripts/performRelease/types.ts
  yarn.lock
Labels: 🏠 internal

#1723 github: fix release types and logic
  scripts/performRelease/createGithubRelease.ts
  scripts/performRelease/fetchCommitsSinceTag.ts
  scripts/performRelease/fetchPRsForCommits.ts
  scripts/performRelease/postReleaseOnPrs.ts
  scripts/utils/getGitHubClient.ts
  scripts/utils/upsertPullRequestComment.ts
Labels: 🏠 internal

#1724 vendor: add files entry to package.json
  package.json
  packages/visx-vendor/package.json
  packages/visx-xychart/tsconfig.json
Labels: 🐛 bug, patch-release, @visx/vendor
