Repository airbnb/visx, pull requests merged in 2023-12, with the labels that each got.

#1744 feat(brush): disable drag overlay
  packages/visx-brush/src/BaseBrush.tsx
  packages/visx-brush/src/Brush.tsx
  packages/visx-brush/src/BrushOverlay.tsx
Labels: 🚀enhancement, @visx/brush, minor-release

#1778 fix(brush): fix issue 'update was scheduled' warning on resetOnEnd #1465
  packages/visx-brush/src/BaseBrush.tsx
Labels: 🐛 bug, @visx/brush, patch-release

#1779 fix: typo in DragITile description
  packages/visx-demo/src/components/Gallery/DragITile.tsx
Labels: 🐛 bug, 📝 docs
