Repository airbnb/visx, pull requests merged in 2023-11, with the labels that each got.

#1767 new(geo, vendor): add `d3-geo@3` to `visx-vendor`, support `geoPath.digits(n)`
  jest.config.js
  package.json
  packages/visx-demo/package.json
  packages/visx-demo/src/sandboxes/visx-geo-albers-usa/Example.tsx
  packages/visx-demo/src/sandboxes/visx-geo-albers-usa/package.json
  packages/visx-demo/src/sandboxes/visx-geo-custom/Example.tsx
  packages/visx-demo/src/sandboxes/visx-geo-custom/package.json
  packages/visx-geo/package.json
  packages/visx-geo/src/graticule/Graticule.tsx
  packages/visx-geo/src/projections/Projection.tsx
  packages/visx-geo/src/types.ts
  packages/visx-geo/tsconfig.json
  packages/visx-vendor/package.json
  packages/visx-vendor/test/d3-geo.test.ts
  yarn.lock
Labels: 🚀enhancement, @visx/geo, minor-release, @visx/vendor

#1768 docs: add Superstardle in the wild
  README.md
Labels: 📝 docs

#1769 fix: correctly pass through offset from AnimatedGridRows/Columns
  packages/visx-react-spring/src/grid/AnimatedGridColumns.tsx
  packages/visx-react-spring/src/grid/AnimatedGridRows.tsx
Labels: 🐛 bug, @visx/react-spring, patch-release
