Repository airbnb/visx, pull requests merged in 2023-03, with the labels that each got.

#1660 fix(demo/sandboxes, xychart): Convert '@visx/.../src/...' to '@visx/.../lib/...'
  packages/visx-demo/src/sandboxes/visx-brush/Example.tsx
  packages/visx-demo/src/sandboxes/visx-wordcloud/Example.tsx
  packages/visx-demo/src/sandboxes/visx-xychart/ExampleControls.tsx
  packages/visx-xychart/src/components/XYChart.tsx
  packages/visx-xychart/src/providers/DataProvider.tsx
  packages/visx-xychart/src/types/data.ts
Labels: 🐛 bug, 🐯 example, @visx/demo, @visx/xychart, patch-release

#1662 feat(axis): support object type tickLabelProp
  packages/visx-axis/src/axis/AxisBottom.tsx
  packages/visx-axis/src/axis/AxisLeft.tsx
  packages/visx-axis/src/axis/AxisRenderer.tsx
  packages/visx-axis/src/axis/AxisRight.tsx
  packages/visx-axis/src/axis/AxisTop.tsx
  packages/visx-axis/src/types.ts
  packages/visx-demo/src/sandboxes/visx-axis/Example.tsx
  packages/visx-demo/src/sandboxes/visx-bargroup-horizontal/Example.tsx
  packages/visx-demo/src/sandboxes/visx-bargroup/Example.tsx
  packages/visx-demo/src/sandboxes/visx-barstack-horizontal/Example.tsx
  packages/visx-demo/src/sandboxes/visx-barstack/Example.tsx
  packages/visx-demo/src/sandboxes/visx-brush/AreaChart.tsx
  packages/visx-demo/src/sandboxes/visx-shape-line-radial/Example.tsx
  packages/visx-xychart/src/components/axis/BaseAxis.tsx
Labels: 🚀enhancement, @visx/axis, @visx/react-spring, @visx/xychart, minor-release

#1639 fix(zoom): prevent wheel interfering with pinch
  packages/visx-zoom/src/Zoom.tsx
Labels: 🐛 bug, @visx/zoom, patch-release

#1672 fix(tooltip): handle SSR in useTooltipInPortal
  packages/visx-tooltip/src/hooks/useTooltipInPortal.tsx
Labels: 🐛 bug, @visx/tooltip, patch-release
