Repository airbnb/visx, pull requests merged in 2024-05, with the labels that each got.

#1831 Fix LegendThreshold
  packages/visx-legend/src/legends/Threshold.tsx
  packages/visx-legend/test/LegendThreshold.test.tsx
Labels: 🐛 bug, @visx/legend, patch-release

#1836 brush: fix brush jumping around after mouseup
  packages/visx-brush/src/BaseBrush.tsx
  packages/visx-brush/src/utils.ts
Labels: 🐛 bug, @visx/brush, patch-release

#1842 feat(xychart): improve performance when hovering with tooltip
  packages/visx-demo/src/sandboxes/visx-xychart/ExampleControls.tsx
  packages/visx-xychart/src/components/series/private/AnimatedPath.tsx
Labels: 🚀enhancement, 📝 docs, @visx/demo, @visx/xychart, minor-release
