Repository airbnb/visx, pull requests merged in 2024-01, with the labels that each got.

#1785 feat(demo): add radial bars demo using Arc
  packages/visx-demo/src/components/Gallery/RadialBarsTile.tsx
  packages/visx-demo/src/components/Gallery/index.tsx
  packages/visx-demo/src/pages/radial-bars.tsx
  packages/visx-demo/src/sandboxes/visx-radial-bars/Example.tsx
  packages/visx-demo/src/sandboxes/visx-radial-bars/index.tsx
  packages/visx-demo/src/sandboxes/visx-radial-bars/package.json
  packages/visx-demo/src/sandboxes/visx-radial-bars/sandbox-styles.css
Labels: 🚀enhancement, @visx/demo

#1786 fix: radial bars demo import in CodeSandbox
  packages/visx-demo/src/sandboxes/visx-radial-bars/Example.tsx
Labels: 🐛 bug, 🚀enhancement, @visx/demo

#1792 feat(xychart): print console.info only in dev mode
  packages/visx-xychart/src/components/XYChart.tsx
Labels: 🚀enhancement, @visx/xychart, minor-release

#1791 fix(axis): include defaultTextProps in Axis labelProps
  packages/visx-axis/src/axis/AxisRenderer.tsx
Labels: 🚀enhancement, @visx/axis, minor-release
