Repository airbnb/visx, pull requests merged in 2024-03, with the labels that each got.

#1739 new(axis): add shapeRendering prop to Axis
  packages/visx-axis/src/axis/AxisRenderer.tsx
  packages/visx-axis/src/types.ts
Labels: 🚀enhancement, @visx/axis, minor-release

#1783 fix: Improve typing in @visx/responsive enhancers
  packages/visx-responsive/Readme.md
  packages/visx-responsive/src/components/ParentSize.tsx
  packages/visx-responsive/src/enhancers/withParentSize.tsx
  packages/visx-responsive/src/enhancers/withScreenSize.tsx
  packages/visx-responsive/src/hooks/useParentSize.ts
  packages/visx-responsive/src/hooks/useScreenSize.ts
  packages/visx-responsive/src/index.ts
  packages/visx-responsive/src/types/index.ts
  packages/visx-responsive/test/useScreenSize.test.ts
  packages/visx-responsive/test/withParentSize.test.tsx
Labels: 🐛 bug, 🚀enhancement, @visx/responsive, minor-release

#1808 Revert "new(axis): add shapeRendering prop to Axis"
  packages/visx-axis/src/axis/AxisRenderer.tsx
  packages/visx-axis/src/types.ts
Labels: @visx/axis, patch-release, revert

#1809 fix: explicit type exports in @visx/responsive
  packages/visx-responsive/src/index.ts
Labels: 🐛 bug, @visx/responsive, patch-release
